PART/Source/CPRBroker/Engine/Web References/NotificationQueueService/NotificationQueue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows the event broker to be notified that some event has occured</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Enqueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personUuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnqueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnqueueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnqueueSoapIn">
    <wsdl:part name="parameters" element="tns:Enqueue" />
  </wsdl:message>
  <wsdl:message name="EnqueueSoapOut">
    <wsdl:part name="parameters" element="tns:EnqueueResponse" />
  </wsdl:message>
  <wsdl:message name="EnqueueApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:portType name="NotificationQueueSoap">
    <wsdl:operation name="Enqueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Allows the event broker to be notified that a person's data has changed                                                
                                                </wsdl:documentation>
      <wsdl:input message="tns:EnqueueSoapIn" />
      <wsdl:output message="tns:EnqueueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationQueueSoap" type="tns:NotificationQueueSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enqueue">
      <soap:operation soapAction="http://tempuri.org/Enqueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EnqueueApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationQueueSoap12" type="tns:NotificationQueueSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enqueue">
      <soap12:operation soapAction="http://tempuri.org/Enqueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EnqueueApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationQueue">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows the event broker to be notified that some event has occured</wsdl:documentation>
    <wsdl:port name="NotificationQueueSoap" binding="tns:NotificationQueueSoap">
      <soap:address location="http://localhost:1552/Services/NotificationQueue.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationQueueSoap12" binding="tns:NotificationQueueSoap12">
      <soap12:address location="http://localhost:1552/Services/NotificationQueue.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>