PART/Branches/2.1.2/Core/Schemas/OIOXSD/PersonOperationer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="urn:oio:sagdok:person:1.0.0"
        xmlns:oio="urn:oio:definitions:1.0.0"
        xmlns:person="urn:oio:sagdok:person:1.0.0"
        xmlns:sd="urn:oio:sagdok:2.0.0"
        xmlns:oio4="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/"
        xmlns:oio5="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"
        oio:mapping="urn:oio:sagdok:MPD:2.0.0">

    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710885/artefact/ImportInput.xsd"/>
    <include schemaLocation="Person.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710879/artefact/UuidNoteInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710973/artefact/OpretInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710916/artefact/BasicOutput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710984/artefact/RetInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710917/artefact/LaesInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710918/artefact/ListInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710919/artefact/ListOutput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710869/artefact/SoegInput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710921/artefact/SoegOutput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/711021/artefact/SoegSagDokObjekt.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710886/artefact/LaesFiltreretOutput.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710856/artefact/LokalUdvidelse.xsd"/>
    <import namespace = "http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/" schemaLocation="http://digitaliser.dk/resource/6170/artefact/DKCC_PersonGenderCode.xsd"/>
    <import namespace = "http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" schemaLocation="http://digitaliser.dk/resource/6189/artefact/DKCC_BirthDate.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/710923/artefact/SoegVirkning.xsd"/>
    <import namespace = "urn:oio:sagdok:2.0.0" schemaLocation="http://digitaliser.dk/resource/711020/artefact/SoegRelation.xsd"/>
    
    <element name="ImportInput" type="person:ImportInputType" oio:definition="urn:oio:sagdok:personimportinput:ADD:1.0.0"/>
    <complexType name="ImportInputType" oio:definition="urn:oio:sagdok:personimportinput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:ImportInputType">
                <sequence>
                    <element ref="person:Person" oio:content="person"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="ImportOutput" type="person:RegistreringOutputType" oio:definition="urn:oio:sagdok:personimportoutput:ASDD:1.0.0"/>
    
    <element name="PassiverInput" type="sd:UuidNoteInputType" oio:definition="urn:oio:sagdok:personpassiverinput:ASDD:1.0.0"/>
    
    <element name="PassiverOutput" type="person:RegistreringOutputType" oio:definition="urn:oio:sagdok:personpassiveroutput:ASDD:1.0.0"/>
    
    <element name="SletInput" type="sd:UuidNoteInputType" oio:definition="urn:oio:sagdok:personsletinput:ASDD:1.0.0"/>
    
    <element name="SletOutput" type="person:RegistreringOutputType" oio:definition="urn:oio:sagdok:personsletoutput:ASDD:1.0.0"/>
    
    <element name="OpretInput" type="person:OpretInputType" oio:definition="urn:oio:sagdok:personopretinput:ADD:1.0.0"/>
    <complexType name="OpretInputType" oio:definition="urn:oio:sagdok:personopretinput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:OpretInputType">
                <sequence>
                    <element ref="person:AttributListe" oio:content="attributter"/>
                    <element ref="person:TilstandListe" oio:content="tilstande"/>
                    <element ref="person:RelationListe" oio:content="relationer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="OpretOutput" type="person:OpretOutputType" oio:definition="urn:oio:sagdok:personopretoutput:ADD:1.0.0"/>
    <complexType name="OpretOutputType" oio:definition="urn:oio:sagdok:personopretoutput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:BasicOutputType">
                <sequence>
                    <element ref="person:Person" minOccurs="0" oio:content="person"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="RetInput" type="person:RetInputType" oio:definition="urn:oio:sagdok:personretinput:ADD:1.0.0"/>
    <complexType name="RetInputType" oio:definition="urn:oio:sagdok:personretinput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:RetInputType">
                <sequence>
                    <element ref="person:AttributListe" minOccurs="0" oio:content="attributter"/>
                    <element ref="person:TilstandListe" minOccurs="0" oio:content="tilstande"/>
                    <element ref="person:RelationListe" minOccurs="0" oio:content="relationer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="RetOutput" type="person:RegistreringOutputType" oio:definition="urn:oio:sagdok:personretoutput:ASDD:1.0.0"/>
    
    <element name="LaesInput" type="sd:LaesInputType" oio:definition="urn:oio:sagdok:personlaesinput:ASDD:1.0.0"/>
    
    <element name="LaesOutput" type="person:LaesOutputType" oio:definition="urn:oio:sagdok:personlaesoutput:ADD:1.0.0"/>
    <complexType name="LaesOutputType" oio:definition="urn:oio:sagdok:personlaesoutput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:BasicOutputType">
                <sequence>
                    <element ref="person:LaesResultat" minOccurs="0" oio:content="laesresultat"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="ListInput" type="sd:ListInputType" oio:definition="urn:oio:sagdok:personlistinput:ASDD:1.0.0"/>
    
    <element name="ListOutput" type="person:ListOutputType" oio:definition="urn:oio:sagdok:personlistoutput:ADD:1.0.0"/>
    <complexType name="ListOutputType" oio:definition="urn:oio:sagdok:personlistoutput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:ListOutputType">
                <sequence>
                    <element ref="person:LaesResultat" minOccurs="0" maxOccurs="unbounded" oio:content="laesresultat"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SoegInput" type="person:SoegInputType" oio:definition="urn:oio:sagdok:personsoeginput:ADD:1.0.0"/>
    <complexType name="SoegInputType" oio:definition="urn:oio:sagdok:personsoeginput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:SoegInputType">
                <sequence>
                    <element ref="person:SoegObjekt" minOccurs="0" oio:content="soeg"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SoegOutput" type="sd:SoegOutputType" oio:definition="urn:oio:sagdok:personsoegoutput:ASDD:1.0.0"/>
    
    <element name="RegistreringOutput" type="person:RegistreringOutputType" oio:definition="urn:oio:sagdok:personregistreringoutput:ADD:1.0.0"/>
    <complexType name="RegistreringOutputType" oio:definition="urn:oio:sagdok:personregistreringoutput:ADD:1.0.0">
        <complexContent>
            <extension base="sd:BasicOutputType">
                <sequence>
                    <element ref="person:Registrering" minOccurs="0" oio:content="registrering"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="LaesResultat" type="person:LaesResultatType" oio:definition="urn:oio:sagdok:personlaesresultat:ADD:1.0.0"/>
    <complexType name="LaesResultatType" oio:definition="urn:oio:sagdok:personlaesresultat:ADD:1.0.0">
        <choice>
            <element ref="person:Registrering" oio:content="registrering"/>
            <element ref="person:FiltreretOejebliksbillede" oio:content="filtreretoejebliksbillede"/>
        </choice>
    </complexType>

    <element name="SoegObjekt" type="person:SoegObjektType" oio:definition="urn:oio:sagdok:personsoegobjekt:ADD:1.0.0"/>
    <complexType name="SoegObjektType" oio:definition="urn:oio:sagdok:personsoegobjekt:ADD:1.0.0">
        <complexContent>
            <extension base="sd:SoegSagDokObjektType">
                <sequence>
                    <element ref="person:SoegAttributListe" minOccurs="0" oio:content="attributter"/>
                    <element ref="person:SoegTilstandListe" minOccurs="0" oio:content="tilstande"/>
                    <element ref="person:SoegRelationListe" minOccurs="0" oio:content="relationer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="FiltreretOejebliksbillede" type="person:FiltreretOejebliksbilledeType" oio:definition="urn:oio:sagdok:personfiltreretoejebliksbillede:ADD:1.0.0"/>
    <complexType name="FiltreretOejebliksbilledeType" oio:definition="urn:oio:sagdok:personfiltreretoejebliksbillede:ADD:1.0.0">
        <complexContent>
            <extension base="sd:LaesFiltreretOutputType">
                <sequence>
                    <element ref="person:AttributListe" oio:content="attributter"/>
                    <element ref="person:TilstandListe" oio:content="tilstande"/>
                    <element ref="person:RelationListe" oio:content="relationer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SoegAttributListe" type="person:SoegAttributListeType" oio:definition="urn:oio:sagdok:personsoegattributliste:ADD:1.0.0"/>
    <complexType name="SoegAttributListeType" oio:definition="urn:oio:sagdok:personsoegattributliste:ADD:1.0.0">
        <sequence>
            <element ref="person:SoegEgenskab" minOccurs="0" maxOccurs="unbounded" oio:content="egenskaber"/>
            <element ref="person:SoegSundhedOplysning" maxOccurs="unbounded" oio:content="sundhedsoplysninger"/>
            <element ref="person:SoegRegisterOplysning" maxOccurs="unbounded" oio:content="registeroplysninger"/>
            <element ref="sd:LokalUdvidelse" minOccurs="0" oio:content="lokaludvidelse"/>
        </sequence>
    </complexType>

    <element name="SoegSundhedOplysning" type="person:SundhedOplysningType" oio:definition="urn:oio:sagdok:personsoegattributliste:ADD:1.0.0#sundhedsoplysninger"/>
    
    <element name="SoegRegisterOplysning" type="person:RegisterOplysningType" oio:definition="urn:oio:sagdok:personsoegattributliste:ADD:1.0.0#registeroplysninger"/>
    
    <element name="SoegTilstandListe" type="person:SoegTilstandListeType" oio:definition="urn:oio:sagdok:personsoegtilstandliste:ADD:1.0.0"/>
    <complexType name="SoegTilstandListeType" oio:definition="urn:oio:sagdok:personsoegtilstandliste:ADD:1.0.0">
        <sequence>
            <element ref="person:LivStatus" minOccurs="0" maxOccurs="unbounded" oio:content="livstatus"/>
            <element ref="person:CivilStatus" minOccurs="0" maxOccurs="unbounded" oio:content="civilstatus"/>
            <element ref="sd:LokalUdvidelse" minOccurs="0" oio:content="lokaludvidelse"/>
        </sequence>
    </complexType>

    <element name="SoegRelationListe" type="person:SoegRelationListeType" oio:definition="urn:oio:sagdok:personsoegrelationliste:ADD:1.0.0"/>
    <complexType name="SoegRelationListeType" oio:definition="urn:oio:sagdok:personsoegrelationliste:ADD:1.0.0">
        <sequence>
            <element ref="person:SoegModer" minOccurs="0" maxOccurs="unbounded" oio:content="moder"/>
            <element ref="person:SoegFader" minOccurs="0" maxOccurs="unbounded" oio:content="fader"/>
            <element ref="person:SoegBoern" minOccurs="0" maxOccurs="unbounded" oio:content="boern"/>
            <element ref="person:SoegAegtefaelle" minOccurs="0" maxOccurs="unbounded" oio:content="aegtefaelle"/>
            <element ref="person:SoegRegistreretPartner" minOccurs="0" maxOccurs="unbounded" oio:content="registreretpartner"/>
            <element ref="person:SoegBopaelsamling" minOccurs="0" maxOccurs="unbounded" oio:content="bopaelsamling"/>
            <element ref="person:SoegForaeldremyndighedsindehaver" minOccurs="0" maxOccurs="unbounded" oio:content="foraeldremyndighedsindehaver"/>
            <element ref="person:SoegForaeldremyndighedsboern" minOccurs="0" maxOccurs="unbounded" oio:content="foraeldremyndighedsboern"/>
            <element ref="person:SoegRetligHandleevneVaergeForPersonen" minOccurs="0" maxOccurs="unbounded" oio:content="retlighandleevnevaergeforpersonen"/>
            <element ref="person:SoegRetligHandleevneVaergemaalsindehaver" minOccurs="0" maxOccurs="unbounded" oio:content="retlighandleevnevaergemaalsindehaver"/>
            <element ref="person:SoegErstatningFor" minOccurs="0" maxOccurs="unbounded" oio:content="erstatningfor"/>
            <element ref="person:SoegErstattesAf" minOccurs="0" maxOccurs="unbounded" oio:content="erstattesaf"/>
            <element ref="sd:LokalUdvidelse" minOccurs="0" oio:content="lokaludvidelse"/>
        </sequence>
    </complexType>

    <element name="SoegEgenskab" type="person:SoegEgenskabType" oio:definition="urn:oio:sagdok:personsoegegenskab:ADD:1.0.0"/>
    <complexType name="SoegEgenskabType" oio:definition="urn:oio:sagdok:personsoegegenskab:ADD:1.0.0">
        <sequence>
            <element ref="person:NavnStruktur" minOccurs="0" oio:content="navn"/>
            <element ref="oio4:PersonGenderCode" minOccurs="0" oio:content="personkoen"/>
            <element ref="oio5:BirthDate" minOccurs="0" oio:content="foedselsdato"/>
            <element ref="person:FoedselsregistreringMyndighedNavn" minOccurs="0" oio:content="foedselsregistreringsmyndighed"/>
            <element ref="person:FoedestedNavn" minOccurs="0" oio:content="foedested"/>
            <element ref="person:KontaktKanal" minOccurs="0" oio:content="kontaktkanal"/>
            <element ref="person:NaermestePaaroerende" minOccurs="0" oio:content="naermestepaaroerende"/>
            <element ref="person:AndreAdresser" minOccurs="0" oio:content="andreadresser"/>
            <element ref="sd:SoegVirkning" minOccurs="0" oio:content="virkning"/>
        </sequence>
    </complexType>

    <element name="SoegModer" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegmoder:relation:ASDD:1.0.0"/>
    
    <element name="SoegFader" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegfader:relation:ASDD:1.0.0"/>
    
    <element name="SoegBoern" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegboern:relation:ASDD:1.0.0"/>
    
    <element name="SoegAegtefaelle" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegaegtefaelle:relation:ASDD:1.0.0"/>
    
    <element name="SoegRegistreretPartner" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegregistreretpartner:relation:ASDD:1.0.0"/>
    
    <element name="SoegBopaelsamling" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegbopaelsamling:relation:ASDD:1.0.0"/>
    
    <element name="SoegForaeldremyndighedsindehaver" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegforaeldremyndighedsindehaver:relation:ASDD:1.0.0"/>
    
    <element name="SoegForaeldremyndighedsboern" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegforaeldremyndighedsboern:relation:ASDD:1.0.0"/>
    
    <element name="SoegRetligHandleevneVaergeForPersonen" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegretlighandleevnevaergeforpersonen:relation:ASDD:1.0.0"/>
    
    <element name="SoegRetligHandleevneVaergemaalsindehaver" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegretlighandleevnevaergemaalsindehaver:relation:ASDD:1.0.0"/>
    
    <element name="SoegErstatningFor" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegerstatningfor:relation:ASDD:1.0.0"/>
    
    <element name="SoegErstattesAf" type="sd:SoegRelationType" oio:definition="urn:oio:sagdok:soegerstattesaf:relation:ASDD:1.0.0"/>
    
</schema>