PART/Source/CPRBroker/EventBroker/Service References/EventsService/Events6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1551/Services/Events.svc?xsd=xsd1" namespace="urn:oio:sagdok:2.0.0" />
  <xs:import schemaLocation="http://localhost:1551/Services/Events.svc?xsd=xsd23" namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="DequeueDataChangeEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="applicationHeader" type="tns:ApplicationHeader" />
        <xs:element minOccurs="1" maxOccurs="1" name="maxCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UserToken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DequeueDataChangeEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DequeueDataChangeEventsResult" type="tns:BasicOutputTypeOfArrayOfDataChangeEventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BasicOutputTypeOfArrayOfDataChangeEventInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:oio:sagdok:2.0.0" base="q1:BasicOutputType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfDataChangeEventInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfDataChangeEventInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataChangeEventInfo" nillable="true" type="tns:DataChangeEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataChangeEventInfo">
    <xs:sequence>
      <xs:element xmlns:q2="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="EventId" type="q2:guid" />
      <xs:element xmlns:q3="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="PersonUuid" type="q3:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReceivedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonBirthdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="applicationHeader" type="tns:ApplicationHeader" />
        <xs:element xmlns:q4="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="personUuidToStartAfter" nillable="true" type="q4:guid" />
        <xs:element minOccurs="1" maxOccurs="1" name="maxCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonBirthdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPersonBirthdatesResult" type="tns:BasicOutputTypeOfArrayOfPersonBirthdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BasicOutputTypeOfArrayOfPersonBirthdate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="urn:oio:sagdok:2.0.0" base="q5:BasicOutputType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfPersonBirthdate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonBirthdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBirthdate" nillable="true" type="tns:PersonBirthdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonBirthdate">
    <xs:sequence>
      <xs:element xmlns:q6="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="PersonUuid" type="q6:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="Birthdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>