PART/Source/CPRBroker/NUnitTester/Web References/Events/Events.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="DequeueDataChangeEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DequeueDataChangeEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DequeueDataChangeEventsResult" type="tns:ArrayOfDataChangeEventInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataChangeEventInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataChangeEventInfo" nillable="true" type="tns:DataChangeEventInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataChangeEventInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EventId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonUuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetPersonBirthdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personUuidToStartAfter" nillable="true" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="maxCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonBirthdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonBirthdatesResult" type="tns:ArrayOfPersonBirthdate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonBirthdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonBirthdate" nillable="true" type="tns:PersonBirthdate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonBirthdate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonUuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DequeueDataChangeEventsSoap12In">
    <wsdl:part name="parameters" element="tns:DequeueDataChangeEvents" />
  </wsdl:message>
  <wsdl:message name="DequeueDataChangeEventsSoap12Out">
    <wsdl:part name="parameters" element="tns:DequeueDataChangeEventsResponse" />
  </wsdl:message>
  <wsdl:message name="DequeueDataChangeEventsApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="GetPersonBirthdatesSoap12In">
    <wsdl:part name="parameters" element="tns:GetPersonBirthdates" />
  </wsdl:message>
  <wsdl:message name="GetPersonBirthdatesSoap12Out">
    <wsdl:part name="parameters" element="tns:GetPersonBirthdatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonBirthdatesApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:portType name="EventsSoap12">
    <wsdl:operation name="DequeueDataChangeEvents">
      <wsdl:input message="tns:DequeueDataChangeEventsSoap12In" />
      <wsdl:output message="tns:DequeueDataChangeEventsSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonBirthdates">
      <wsdl:input message="tns:GetPersonBirthdatesSoap12In" />
      <wsdl:output message="tns:GetPersonBirthdatesSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsSoap12" type="tns:EventsSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DequeueDataChangeEvents">
      <soap12:operation soapAction="http://tempuri.org/DequeueDataChangeEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DequeueDataChangeEventsApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonBirthdates">
      <soap12:operation soapAction="http://tempuri.org/GetPersonBirthdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPersonBirthdatesApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Events">
    <wsdl:port name="EventsSoap12" binding="tns:EventsSoap12">
      <soap12:address location="http://localhost:1551/Services/Events.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>