PART/Source/Demo/CPR Business Application Demo/Service References/PartService/Part238.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PostalAddressFirstLineText" type="xs:string" />
  <xs:element name="PostalAddressSecondLineText" type="xs:string" />
  <xs:element name="PostalAddressThirdLineText" type="xs:string" />
  <xs:element name="PostalAddressFourthLineText" type="xs:string" />
  <xs:element name="PostalAddressFifthLineText" type="xs:string" />
</xs:schema>