PART/Source/CPRBroker/CPR Business Application Demo/Service References/PartService/Part17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd12" namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd7" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd10" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd14" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd15" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" />
  <xs:element name="AddressComplete" type="tns:AddressCompleteType" />
  <xs:complexType name="AddressCompleteType">
    <xs:sequence>
      <xs:element xmlns:q1="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" minOccurs="0" maxOccurs="1" ref="q1:AddressAccess" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressPostal" type="tns:AddressPostalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressPostalType">
    <xs:sequence>
      <xs:element xmlns:q2="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q2:MailDeliverySublocationIdentifier" />
      <xs:element xmlns:q3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" minOccurs="0" maxOccurs="1" ref="q3:StreetName" />
      <xs:element xmlns:q4="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" minOccurs="0" maxOccurs="1" ref="q4:StreetNameForAddressingName" />
      <xs:element xmlns:q5="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q5:StreetBuildingIdentifier" />
      <xs:element xmlns:q6="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q6:FloorIdentifier" />
      <xs:element xmlns:q7="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q7:SuiteIdentifier" />
      <xs:element xmlns:q8="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" minOccurs="0" maxOccurs="1" ref="q8:DistrictSubdivisionIdentifier" />
      <xs:element xmlns:q9="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" minOccurs="0" maxOccurs="1" ref="q9:PostOfficeBoxIdentifier" />
      <xs:element xmlns:q10="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" minOccurs="0" maxOccurs="1" ref="q10:PostCodeIdentifier" />
      <xs:element xmlns:q11="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" minOccurs="0" maxOccurs="1" ref="q11:DistrictName" />
      <xs:element xmlns:q12="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q12:CountryIdentificationCode" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>