AddresseeBroker/Source/Web References/dk.cvr.www/Employment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AMSATemployeeInfoStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AMSATnumberOfEmployeesInclOwner" type="xsd:string" />
      <xsd:element minOccurs="0" name="AMSATnumberOfEmployeesInclOwnerCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AMSATwageEarnerInfoStructure">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="AMSATNumberOfWageEarners" type="xsd:string" />
      <xsd:element minOccurs="0" name="AMSATNumberOfWageEarnersCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AMSATStructure">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="ValidFromDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="AMSATemployeeInfo" type="AMSATemployeeInfoStructure" />
      <xsd:element minOccurs="0" name="AMSATwageEarnerInfo" type="AMSATwageEarnerInfoStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatisticsDenmarkStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReferenceYear" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployeesInclOwner" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployeesInclOwnerCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfManYears" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfManYearsCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployees" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployeesCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ATPStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ATPReferenceYear" type="xsd:string" />
      <xsd:element minOccurs="0" name="Quarter" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployeesATP" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberOfEmployeesATPCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>