AddresseeBroker/Source/Web References/dk.cvr.www/LegalUnit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ACT="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" xmlns:EMP="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" xmlns:ADR="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" xmlns:TEL="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" xmlns="http://rep.oio.dk/cvr.dk/xml/schemas/LegalUnit/2002/07/03" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/LegalUnit/2002/07/03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="Address.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" />
  <xsd:import schemaLocation="Activity.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" />
  <xsd:import schemaLocation="Employment.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" />
  <xsd:import schemaLocation="Telecom.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" />
  <xsd:simpleType name="TransactionIDtype">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ValidFromDateType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="CVRnumberType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CVRnumberNewType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SimultaneityIDtype">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="AdvertisingProtectionType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ImporterType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ExporterType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="NumberOfProductionUnitsType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:element name="LegalUnit">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="TransactionID" type="TransactionIDtype" />
        <xsd:element minOccurs="0" name="CVRnumber" type="CVRnumberType" />
        <xsd:element minOccurs="0" name="CVRnumberNew" type="CVRnumberNewType" />
        <xsd:element minOccurs="0" name="AdvertisingProtection" type="AdvertisingProtectionType" />
        <xsd:element minOccurs="0" name="Importer" type="ImporterType" />
        <xsd:element minOccurs="0" name="Exporter" type="ExporterType" />
        <xsd:element minOccurs="0" name="NumberOfProductionUnits" type="NumberOfProductionUnitsType" />
        <xsd:element minOccurs="0" name="SimultaneityID" type="SimultaneityIDtype" />
        <xsd:element minOccurs="0" name="LegalUnitNameInfo" type="LegalUnitNameInfoStructure" />
        <xsd:element minOccurs="0" name="OwnershipType" type="OwnershipTypeStructure" />
        <xsd:element minOccurs="0" name="PeriodOfActivities" type="PeriodOfActivitiesStructure" />
        <xsd:element minOccurs="0" name="ProductionUnits" type="ProductionUnitsStructure" />
        <xsd:element minOccurs="0" name="KindOfActivity" type="ACT:KindOfActivityStructure" />
        <xsd:element minOccurs="0" name="OfficialAddress" type="ADR:OfficialAddressStructure" />
        <xsd:element minOccurs="0" name="PostalAddress" type="ADR:PostalAddressStructure" />
        <xsd:element minOccurs="0" name="POBoxAddress" type="ADR:POBoxAddressStructure" />
        <xsd:element minOccurs="0" name="EmploymentInformation">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" name="StatisticsDenmark" type="EMP:StatisticsDenmarkStructure" />
              <xsd:element minOccurs="0" name="ATP" type="EMP:ATPStructure" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Telecom" type="TEL:TelecomStructure" />
        <xsd:element minOccurs="0" name="CreditInformation" type="CreditInformationStructure" />
        <xsd:element minOccurs="0" name="LegalCommitment" type="LegalCommitmentStructure" />
        <xsd:element minOccurs="0" name="Partner" type="PartnerStructure" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OwnershipTypeStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="ValidFromDateType" />
      <xsd:element minOccurs="0" name="OwnershipTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="DataSupplier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalUnitNameInfoStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="LegalUnitName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodOfActivitiesStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StartDateType" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfCessation" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductionUnitsStructure">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element minOccurs="0" name="ProductionUnitNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditInformationStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="ValidFromDateType" />
      <xsd:element minOccurs="0" name="CreditInformationType" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreditStatus" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalCommitmentStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="ValidFromDateType" />
      <xsd:element minOccurs="0" name="CommitmentType" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartnerStructure">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element minOccurs="0" name="ValidFrom" type="ValidFromDateType" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="CivilRegistrationNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="CVRnumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerTitle" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerProtectedName" type="xsd:string" />
      <xsd:element minOccurs="0" name="GeneralAddress" type="ADR:GeneralAddressStructure" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>