PART/Branches/2.2.0/CprBroker/KMD/WSDL/AS78206.wsdl

<?xml version="1.0"?>
<definitions name="AS78206" targetNamespace="http://zsrsoap.kmd.dk/AS78206" xmlns:pos="http://zsrsoap.kmd.dk/AS78206" xmlns:spo="http://zsrsoap.kmd.dk/AS78206" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsse="http://soap.zsroer.kmd.dk" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zsrsoap.kmd.dk/AS78206" xmlns:tns="http://zsrsoap.kmd.dk/AS78206" elementFormDefault="unqualified">
            <xsd:element name="AS78206">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="InputRecord" type="tns:PARM"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AS78206Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OutputRecord" type="tns:AS782_2"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="PARM">
                <xsd:sequence>
                    <xsd:element name="EKOM">
                        <xsd:annotation>
                            <xsd:documentation>Kommunenummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNR">
                        <xsd:annotation>
                            <xsd:documentation>Personnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="COMRAADE">
                        <xsd:annotation>
                            <xsd:documentation>Kommunalt: K   Regionalt:  R   Nationalt: C</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CSTATUS">
                        <xsd:annotation>
                            <xsd:documentation>Aktive: 0     Aktive og Inaktive: 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CBESTIL">
                        <xsd:annotation>
                            <xsd:documentation>Bestilling til supplementregister:   Bestilling: 1   Ingen bestilling: 0</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CREDIG">
                        <xsd:annotation>
                            <xsd:documentation>Grydeklar adresser:  Fast struktur:  F   Oprykket struktur: O</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AS782_2">
                <xsd:sequence>
                    <xsd:element name="RETURKODE">
                        <xsd:annotation>
                            <xsd:documentation>Returkode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RETURTEXT">
                        <xsd:annotation>
                            <xsd:documentation>Retur</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EKOM">
                        <xsd:annotation>
                            <xsd:documentation>kommunenummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EINRKMD">
                        <xsd:annotation>
                            <xsd:documentation>KMD - Inr</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="11"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNR">
                        <xsd:annotation>
                            <xsd:documentation>personnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DFOEDS">
                        <xsd:annotation>
                            <xsd:documentation>fødselsdato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CSTATUK">
                        <xsd:annotation>
                            <xsd:documentation>status - KMD</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CSTATUC">
                        <xsd:annotation>
                            <xsd:documentation>status - CPR</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DSTATUS">
                        <xsd:annotation>
                            <xsd:documentation>statusdato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CPNRMRK">
                        <xsd:annotation>
                            <xsd:documentation>personnummer - markering</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CTRANS">
                        <xsd:annotation>
                            <xsd:documentation>trans-kode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EFOEDREG">
                        <xsd:annotation>
                            <xsd:documentation>fødelsregistrerings-myndighedskode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AFOEDREG">
                        <xsd:annotation>
                            <xsd:documentation>fødelsregistrerings-myndighedsnavn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ASTIL">
                        <xsd:annotation>
                            <xsd:documentation>stillingsbetegnelse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ASTIL34">
                        <xsd:annotation>
                            <xsd:documentation>stillingsbetegnelse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="34"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CSTIL">
                        <xsd:annotation>
                            <xsd:documentation>stillingskode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ANAVN">
                        <xsd:annotation>
                            <xsd:documentation>adresseringsnavn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ANAVN34">
                        <xsd:annotation>
                            <xsd:documentation>adresseringsnavn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="34"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CNVMRK">
                        <xsd:annotation>
                            <xsd:documentation>navnemarkering</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DNAVN">
                        <xsd:annotation>
                            <xsd:documentation>navnedato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ENVNMYN">
                        <xsd:annotation>
                            <xsd:documentation>navnemyndigheds-kode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ESTAT">
                        <xsd:annotation>
                            <xsd:documentation>statsborgerkode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DADR">
                        <xsd:annotation>
                            <xsd:documentation>adressedato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CADRBSK">
                        <xsd:annotation>
                            <xsd:documentation>adressebeskyttelse:   B=adressebeskyttelse  L=vejvisebeskyttelse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CVEJ">
                        <xsd:annotation>
                            <xsd:documentation>vejkode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AHUSNR">
                        <xsd:annotation>
                            <xsd:documentation>husnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ABOGSTV">
                        <xsd:annotation>
                            <xsd:documentation>husbogstav</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AETAGE">
                        <xsd:annotation>
                            <xsd:documentation>etage</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ASIDOER">
                        <xsd:annotation>
                            <xsd:documentation>side-dørnr</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EBYG">
                        <xsd:annotation>
                            <xsd:documentation>bygningsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DTILFL">
                        <xsd:annotation>
                            <xsd:documentation>tilflytnings-dato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CFRAADR">
                        <xsd:annotation>
                            <xsd:documentation>fraflytningsadresse-type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EFRASTD">
                        <xsd:annotation>
                            <xsd:documentation>fraflytningsted</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AFRAADR">
                        <xsd:annotation>
                            <xsd:documentation>fraflytningsadresse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CKIRKE">
                        <xsd:annotation>
                            <xsd:documentation>folkekirkeforhold</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CUMYND">
                        <xsd:annotation>
                            <xsd:documentation>umyndiggørelses-kode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CKOMF1">
                        <xsd:annotation>
                            <xsd:documentation>kommunale forhold 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CKOMF2">
                        <xsd:annotation>
                            <xsd:documentation>kommunale forhold 2</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CCIVS">
                        <xsd:annotation>
                            <xsd:documentation>civilstands-kode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DCIVS">
                        <xsd:annotation>
                            <xsd:documentation>civilstands-dato</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ECIVMYN">
                        <xsd:annotation>
                            <xsd:documentation>civilstands-myndigheds-kode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ACIVMYN">
                        <xsd:annotation>
                            <xsd:documentation>civilstands-myndigheds-navn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNRAEGT">
                        <xsd:annotation>
                            <xsd:documentation>Personnummer - ægtefælle</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNRMOR">
                        <xsd:annotation>
                            <xsd:documentation>Personnummer - mor</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CVERMOR">
                        <xsd:annotation>
                            <xsd:documentation>verifikationskode - mor</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNRFAR">
                        <xsd:annotation>
                            <xsd:documentation>Personnummer - far</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CVERFAR">
                        <xsd:annotation>
                            <xsd:documentation>verifikationskode - mor</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="FBOERN">
                        <xsd:annotation>
                            <xsd:documentation>antal børn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPNRBRN" minOccurs="25" maxOccurs="25">
                        <xsd:annotation>
                            <xsd:documentation>Personnummer - børn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CVERBRN" minOccurs="25" maxOccurs="25">
                        <xsd:annotation>
                            <xsd:documentation>verifikationskode - børn</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.zsroer.kmd.dk" elementFormDefault="unqualified">
            <xsd:element name="userinfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userid" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="SubmitAS78206">
        <part name="Request" element="spo:AS78206"/>
    </message>
    <message name="SubmitAS78206Response">
        <part name="Response" element="spo:AS78206Response"/>
    </message>
    <message name="KMDSOAPHeaderMessage">
        <part name="KMDSOAPHeaderPart" element="wsse:userinfo"/>
    </message>
    <portType name="AS78206Service1">
        <operation name="SubmitAS78206">
            <input message="pos:SubmitAS78206"/>
            <output message="pos:SubmitAS78206Response"/>
        </operation>
    </portType>
    <binding name="SoapBinding" type="pos:AS78206Service1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SubmitAS78206">
            <soap:operation soapAction="AS78206"/>
            <input>
                <soap:body use="literal"/>
                <soap:header n1:required="true" message="spo:KMDSOAPHeaderMessage" part="KMDSOAPHeaderPart" use="literal" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WS_AS78206">
        <documentation>Pdata - Person - type 2 - skaf persondata reduceret</documentation>
        <port name="Soap" binding="pos:SoapBinding">
            <soap:address location="http://195.50.36.114/bccicste.asp?zservice=AS78206"/>
        </port>
    </service>
</definitions>
