PART/Source/CPRBroker/Engine/Web References/NotificationService/Notification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:s4="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Template for a notification listener web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" />
      <s:element name="Notify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notification" type="tns:BaseNotificationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseNotificationType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BirthdateNotificationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseNotificationType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BirthdateSubscription" type="tns:BirthdateSubscriptionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Persons" type="tns:ArrayOfBirthdateNotificationPersonType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BirthdateSubscriptionType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SubscriptionType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AgeYears" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PriorDays" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SubscriptionType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriptionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationChannel" type="tns:ChannelBaseType" />
          <s:element minOccurs="1" maxOccurs="1" name="ForAllPersons" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonCivilRegistrationIdentifiers" type="s1:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelBaseType" abstract="true" />
      <s:complexType name="FileShareChannelType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChannelBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GPACChannelType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChannelBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SourceUri" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ObjectType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NotifyType" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WebServiceChannelType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChannelBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="WebServiceUrl" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ChangeSubscriptionType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SubscriptionType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfBirthdateNotificationPersonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" type="tns:BirthdateNotificationPersonType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BirthdateNotificationPersonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SimpleCPRPerson" type="s2:SimpleCPRPersonType" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangeNotificationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseNotificationType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChangeSubscription" type="tns:ChangeSubscriptionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Persons" type="tns:ArrayOfChangeNotificationPersonType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfChangeNotificationPersonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" type="tns:ChangeNotificationPersonType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangeNotificationPersonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SimpleCPRPerson" type="s2:SimpleCPRPersonType" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyResponse">
        <s:complexType />
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/">
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonCivilRegistrationIdentifier" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PersonCivilRegistrationIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:complexType name="SimpleCPRPersonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonNameStructure" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:PersonCivilRegistrationIdentifier" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="PersonNameStructure" type="s3:PersonNameStructureType" />
      <s:complexType name="PersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonGivenName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonMiddleName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:PersonSurnameName" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
      <s:element name="PersonGivenName" type="s:string" />
      <s:element name="PersonMiddleName" type="s:string" />
      <s:element name="PersonSurnameName" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifySoapIn">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="NotifySoapOut">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationSoap">
    <wsdl:operation name="Notify">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Called to tell the client system that a notification has been fired

        &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
        &lt;br&gt;void Notify(string appToken, BaseNotificationType notification)

        &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
        &lt;br&gt;&lt;table&gt;
        &lt;tr&gt;&lt;td&gt;appToken (input):&lt;/td&gt;&lt;td&gt;Token of subscriber application&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;notification (input):&lt;/td&gt;&lt;td&gt;Object that contains the detailed information that is associated with the event&lt;/td&gt;&lt;/tr&gt;
        &lt;/table&gt;

        &lt;br&gt;==============================
      </wsdl:documentation>
      <wsdl:input message="tns:NotifySoapIn" />
      <wsdl:output message="tns:NotifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Called to make sure the service is online

        &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
        &lt;br&gt;void Ping()

        &lt;br&gt;==============================
      </wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationSoap" type="tns:NotificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://tempuri.org/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationSoap12" type="tns:NotificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://tempuri.org/Notify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Template for a notification listener web service</wsdl:documentation>
    <wsdl:port name="NotificationSoap" binding="tns:NotificationSoap">
      <soap:address location="http://localhost:1551/Services/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationSoap12" binding="tns:NotificationSoap12">
      <soap12:address location="http://localhost:1551/Services/Notification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>