Source/Web References/dk.cvr.www/CVR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:act="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:StyleLUns="http://rep.oio.dk/cvr.dk/xml/schemas/LegalUnit/2002/07/03" xmlns:y="http://cvrwebservice" xmlns:add="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" xmlns:tele="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" xmlns:ws="urn:cvrwebservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:StylePUsns="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnits/2002/07/03" xmlns:emp="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:StylePUns="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnit/2002/07/03" targetNamespace="http://cvrwebservice" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/LegalUnit/2002/07/03" location="schemas/LegalUnit.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnit/2002/07/03" location="schemas/ProductionUnit.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnits/2002/07/03" location="schemas/RelatedProductionUnits.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" location="schemas/Activity.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" location="schemas/Address.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" location="schemas/Telecom.xsd" />
  <import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" location="schemas/Employment.xsd" />
  <types>
    <xs:schema targetNamespace="urn:cvrwebservice">
      <xs:simpleType name="CVRStringWildCard">
        <xs:restriction base="xs:string">
          <xs:minLength value="3" />
          <xs:pattern value="[^%]{3,}%?" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CVRString">
        <xs:restriction base="xs:string">
          <xs:minLength value="3" />
          <xs:pattern value="[^%]{3,}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="UserID" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
      <xs:element name="Level" type="xs:int" />
      <xs:element name="ProductionUnitNumber" type="xs:int" />
      <xs:element name="CVRNumber" type="xs:int" />
      <xs:element name="LegalUnitName" type="ws:CVRStringWildCard" />
      <xs:element name="ProductionUnitName" type="ws:CVRStringWildCard" />
      <xs:element name="RoadName" type="ws:CVRStringWildCard" />
      <xs:element name="HouseNumberFrom" type="xs:string" />
      <xs:element name="PostalCode" type="xs:string" />
      <xs:element name="MunicipalityCode" type="xs:string" />
      <xs:element name="TelephoneNumber" type="xs:string" />
      <xs:element name="FaxNumber" type="xs:string" />
      <xs:element name="EmailAddress" type="xs:string" />
      <xs:element name="ForeignTelephoneNumber" type="xs:string" />
      <xs:element name="ForeignFaxNumber" type="xs:string" />
      <xs:complexType name="getBaseNoLevel">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:UserID" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:Password" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBase">
        <xs:complexContent mixed="false">
          <xs:extension base="ws:getBaseNoLevel">
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" ref="ws:Level" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAddress">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:RoadName" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ws:HouseNumberFrom" />
          <xs:choice>
            <xs:element minOccurs="1" maxOccurs="1" ref="ws:PostalCode" />
            <xs:element minOccurs="1" maxOccurs="1" ref="ws:MunicipalityCode" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTeleInfo">
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:TelephoneNumber" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:FaxNumber" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:EmailAddress" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:ForeignTelephoneNumber" />
          <xs:element minOccurs="1" maxOccurs="1" ref="ws:ForeignFaxNumber" />
        </xs:choice>
      </xs:complexType>
      <xs:element name="getLegalUnit">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:CVRNumber" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnit">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:ProductionUnitNumber" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRelatedProductionUnits">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBaseNoLevel">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:CVRNumber" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitSeekName">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:LegalUnitName" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitSeekName">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:ProductionUnitName" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitSeekAddress">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="Address" type="ws:getAddress" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitSeekAddress">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="Address" type="ws:getAddress" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitSeekTele">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="Tele" type="ws:getTeleInfo" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitSeekTele">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="Tele" type="ws:getTeleInfo" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitSeekNameAddress">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:LegalUnitName" />
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:RoadName" />
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:PostalCode" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitSeekNameAddress">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ws:getBase">
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:ProductionUnitName" />
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:RoadName" />
                <xs:element minOccurs="1" maxOccurs="1" ref="ws:PostalCode" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="StyleLUns:LegalUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="StylePUns:ProductionUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRelatedProductionUnitsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="StylePUsns:RelatedProductionUnits" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLegalUnitSeekResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="StyleLUns:LegalUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductionUnitSeekResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="StylePUns:ProductionUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="getProductionUnitRequest">
    <part name="requestParameters" element="ws:getProductionUnit" />
  </message>
  <message name="getProductionUnitResponse">
    <part name="ProductionUnit" element="ws:getProductionUnitResponse" />
  </message>
  <message name="getLegalUnitRequest">
    <part name="requestParameters" element="ws:getLegalUnit" />
  </message>
  <message name="getLegalUnitResponse">
    <part name="LegalUnit" element="ws:getLegalUnitResponse" />
  </message>
  <message name="getRelatedProductionUnitsRequest">
    <part name="requestParameters" element="ws:getRelatedProductionUnits" />
  </message>
  <message name="getRelatedProductionUnitsResponse">
    <part name="ProductionUnits" element="ws:getRelatedProductionUnitsResponse" />
  </message>
  <message name="getLegalUnitSeekNameRequest">
    <part name="requestParameters" element="ws:getLegalUnitSeekName" />
  </message>
  <message name="getLegalUnitSeekAddressRequest">
    <part name="requestParameters" element="ws:getLegalUnitSeekAddress" />
  </message>
  <message name="getLegalUnitSeekTeleRequest">
    <part name="requestParameters" element="ws:getLegalUnitSeekTele" />
  </message>
  <message name="getLegalUnitSeekNameAddressRequest">
    <part name="requestParameters" element="ws:getLegalUnitSeekNameAddress" />
  </message>
  <message name="getProductionUnitSeekNameRequest">
    <part name="requestParameters" element="ws:getProductionUnitSeekName" />
  </message>
  <message name="getProductionUnitSeekAddressRequest">
    <part name="requestParameters" element="ws:getProductionUnitSeekAddress" />
  </message>
  <message name="getProductionUnitSeekTeleRequest">
    <part name="requestParameters" element="ws:getProductionUnitSeekTele" />
  </message>
  <message name="getProductionUnitSeekNameAddressRequest">
    <part name="requestParameters" element="ws:getProductionUnitSeekNameAddress" />
  </message>
  <message name="getLegalUnitSeekResponse">
    <part name="LegalUnits" element="ws:getLegalUnitSeekResponse" />
  </message>
  <message name="getProductionUnitSeekResponse">
    <part name="ProductionUnits" element="ws:getProductionUnitSeekResponse" />
  </message>
  <portType name="CVRPortType">
    <operation name="getProductionUnit">
      <input message="y:getProductionUnitRequest" />
      <output message="y:getProductionUnitResponse" />
    </operation>
    <operation name="getLegalUnit">
      <input message="y:getLegalUnitRequest" />
      <output message="y:getLegalUnitResponse" />
    </operation>
    <operation name="getRelatedProductionUnits">
      <input message="y:getRelatedProductionUnitsRequest" />
      <output message="y:getRelatedProductionUnitsResponse" />
    </operation>
    <operation name="getLegalUnitSeek">
      <input message="y:getLegalUnitSeekAddressRequest" />
      <output message="y:getLegalUnitSeekResponse" />
    </operation>
    <operation name="getLegalUnitSeek">
      <input message="y:getLegalUnitSeekNameRequest" />
      <output message="y:getLegalUnitSeekResponse" />
    </operation>
    <operation name="getLegalUnitSeek">
      <input message="y:getLegalUnitSeekTeleRequest" />
      <output message="y:getLegalUnitSeekResponse" />
    </operation>
    <operation name="getLegalUnitSeek">
      <input message="y:getLegalUnitSeekNameAddressRequest" />
      <output message="y:getLegalUnitSeekResponse" />
    </operation>
    <operation name="getProductionUnitSeek">
      <input message="y:getProductionUnitSeekAddressRequest" />
      <output message="y:getProductionUnitSeekResponse" />
    </operation>
    <operation name="getProductionUnitSeek">
      <input message="y:getProductionUnitSeekNameRequest" />
      <output message="y:getProductionUnitSeekResponse" />
    </operation>
    <operation name="getProductionUnitSeek">
      <input message="y:getProductionUnitSeekTeleRequest" />
      <output message="y:getProductionUnitSeekResponse" />
    </operation>
    <operation name="getProductionUnitSeek">
      <input message="y:getProductionUnitSeekNameAddressRequest" />
      <output message="y:getProductionUnitSeekResponse" />
    </operation>
  </portType>
  <binding name="CVRBinding" type="y:CVRPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getProductionUnit">
      <soap:operation soapAction="urn:CVRSearchAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLegalUnit">
      <soap:operation soapAction="urn:CVRSearchAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRelatedProductionUnits">
      <soap:operation soapAction="urn:CVRSearchAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLegalUnitSeek">
      <soap:operation soapAction="urn:CVRSearchAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductionUnitSeek">
      <soap:operation soapAction="urn:CVRSearchAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CVRWebService">
    <port name="CVRPort" binding="y:CVRBinding">
      <soap:address location="https://online.cvr.dk/soap/servlet/messageservlet" />
    </port>
  </service>
</definitions>