Source/Web References/dk.cvr.www/ProductionUnit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ACT="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" xmlns="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnit/2002/07/03" xmlns:TEL="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" xmlns:ADR="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" xmlns:EMP="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/ProductionUnit/2002/07/03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="Address.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Address/2002/07/03" />
  <xsd:import schemaLocation="Activity.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Activity/2002/07/03" />
  <xsd:import schemaLocation="Employment.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Employment/2002/07/03" />
  <xsd:import schemaLocation="Telecom.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/Telecom/2002/07/03" />
  <xsd:simpleType name="TransactionIDtype">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="AdvertisingProtectionType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ProductionUnitNameType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ProductionUnitNumberType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="MainDevisionType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="SimultaneityIDtype">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="AncillaryUnitType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ProductionUnitNumberCorrectionType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:element name="ProductionUnit">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="TransactionID" type="TransactionIDtype" />
        <xsd:element minOccurs="0" name="ProductionUnitNumber" type="ProductionUnitNumberType" />
        <xsd:element minOccurs="0" name="AdvertisingProtection" type="AdvertisingProtectionType" />
        <xsd:element minOccurs="0" name="AncillaryUnit" type="AncillaryUnitType" />
        <xsd:element minOccurs="0" name="MainDivision" type="MainDevisionType" />
        <xsd:element minOccurs="0" name="ProductionUnitNumberCorrection" type="ProductionUnitNumberCorrectionType" />
        <xsd:element minOccurs="0" name="SimultaneityID" type="SimultaneityIDtype" />
        <xsd:element minOccurs="0" name="ProductionUnitNameInfo" type="ProductionUnitNameInfoStructure" />
        <xsd:element minOccurs="0" name="LegalUnitAffiliationInfo" type="LegalUnitAffiliationInfoStructure" />
        <xsd:element minOccurs="0" name="PeriodOfActivities" type="PeriodOfActivitiesStructure" />
        <xsd:element minOccurs="0" name="KindOfActivity" type="ACT:KindOfActivityStructure" />
        <xsd:element minOccurs="0" name="LocationAddress" type="ADR:LocationAddressStructure" />
        <xsd:element minOccurs="0" name="PostalAddress" type="ADR:PostalAddressStructure" />
        <xsd:element minOccurs="0" name="POBoxAddress" type="ADR:POBoxAddressStructure" />
        <xsd:element minOccurs="0" name="EmploymentInformation">
          <xsd:complexType>
            <xsd:sequence minOccurs="0">
              <xsd:element minOccurs="0" name="StatisticsDenmark" type="EMP:StatisticsDenmarkStructure" />
              <xsd:element minOccurs="0" name="AMSAT" type="EMP:AMSATStructure" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Telecom" type="TEL:TelecomStructure" />
        <xsd:element minOccurs="0" name="DemographyRelations" type="DemographyRelationsStructure" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ProductionUnitNameInfoStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductionUnitName" type="ProductionUnitNameType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodOfActivitiesStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfCessation" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DemographyRelationsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidFromDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductionsUnitNumberFrom" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductionUnitNumberTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="KindOfConnection" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalUnitAffiliationInfoStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AffiliationDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="CVRnumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KindOfActivityStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ActivityClassResponsible" type="ACT:ActivityClassResponsibleType" />
      <xsd:element minOccurs="0" name="Activity" type="ACT:ActivityStructure" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>