PART/Source/CPRBroker/CPR Business Application Demo/Service References/SubscriptionsService/Subscriptions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Subscriptions</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Subscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationChannel" type="tns:ChannelBaseType" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonCivilRegistrationIdentifiers" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChannelBaseType" abstract="true" />
      <s:complexType name="FileShareChannelType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChannelBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WebServiceChannelType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChannelBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="WebServiceUrl" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeResult" type="tns:ChangeSubscriptionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangeSubscriptionType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SubscriptionType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SubscriptionType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriptionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationChannel" type="tns:ChannelBaseType" />
          <s:element minOccurs="1" maxOccurs="1" name="ForAllPersons" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonUuids" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BirthdateSubscriptionType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SubscriptionType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AgeYears" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PriorDays" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Unsubscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscriptionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnsubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnsubscribeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeOnBirthdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationChannel" type="tns:ChannelBaseType" />
            <s:element minOccurs="1" maxOccurs="1" name="Years" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PriorDays" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonCivilRegistrationIdentifiers" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeOnBirthdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeOnBirthdateResult" type="tns:BirthdateSubscriptionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveBirthDateSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscriptionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveBirthDateSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveBirthDateSubscriptionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveSubsciptionsList">
        <s:complexType />
      </s:element>
      <s:element name="GetActiveSubsciptionsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveSubsciptionsListResult" type="tns:ArrayOfSubscriptionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubscriptionType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionType" nillable="true" type="tns:SubscriptionType" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="SubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="SubscribeOnBirthdateSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeOnBirthdate" />
  </wsdl:message>
  <wsdl:message name="SubscribeOnBirthdateSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeOnBirthdateResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeOnBirthdateApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveBirthDateSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveBirthDateSubscription" />
  </wsdl:message>
  <wsdl:message name="RemoveBirthDateSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveBirthDateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveBirthDateSubscriptionApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="GetActiveSubsciptionsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveSubsciptionsList" />
  </wsdl:message>
  <wsdl:message name="GetActiveSubsciptionsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveSubsciptionsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveSubsciptionsListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="SubscriptionsSoap">
    <wsdl:operation name="Subscribe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Allows a client business application to be notified when there is a change in one or more person's data

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;ChangeSubscriptionType Subscribe(ChannelBaseType NotificationChannel, string[] PersonCivilRegistrationIdentifiers)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;NotificationChannel (input):&lt;/td&gt;&lt;td&gt;Channel to send notification through it (Web service, FileShare...) .&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;PersonCivilRegistrationIdentifiers[] (input):&lt;/td&gt;&lt;td&gt;Array of persons number that you want to subscribe the event to them. Null for all persons&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;ChangeSubscriptionType that represents the newly created subscription object

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Notes:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt; The component will keep track on any person that has already has been queried
                                                once. If the user creates a subscription, it will only be changes to the selected list of
                                                persons the  subscription will return. 

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:SubscribeSoapIn" />
      <wsdl:output message="tns:SubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Removes a subscription.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool Unsubscribe(Guid SubscriptionId)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;SubscriptionId (input):&lt;/td&gt;&lt;td&gt;Subscription Id that you want to remove its subscription.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:UnsubscribeSoapIn" />
      <wsdl:output message="tns:UnsubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeOnBirthdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                The user (application) can subscribe to extended birthday events.
                                                In case the business application needs to send a message to a citizen 3 weeks before
                                                the 65th. birthday (retirement), the user can subscribe to this event 65 birthday
                                                minus 3 weeks. This subscription can be created for all persons or for a specific list of persons. 
                                                It is possible to create several subscriptions
                                                from the same user application to the same person or list of indiviuals.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;BirthdateSubscriptionType SubscribeOnBirthdate(ChannelBaseType NotificationChannel, Nullable&lt;int&gt; Years, int PriorDays, string[] PersonCivilRegistrationIdentifiers)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;NotificationChannel (input):&lt;/td&gt;&lt;td&gt;Channel to send notification through it (Web service, FileShare...) .&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;Years (input):&lt;/td&gt;&lt;td&gt;Years.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;PriorDays (input):&lt;/td&gt;&lt;td&gt;Prior days.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;PersonCivilRegistrationIdentifiers[] (input):&lt;/td&gt;&lt;td&gt;Array of persons number that you want to subscribe the event to them.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;BirthdateSubscriptionType that represents the created subscription object.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:SubscribeOnBirthdateSoapIn" />
      <wsdl:output message="tns:SubscribeOnBirthdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBirthDateSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Removes one extended subscription for a user application.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool RemoveBirthDateSubscription(Guid SubscriptionId)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;'SubscriptionId' (input):&lt;/td&gt;&lt;td&gt;Subscription Id that you want to remove its subscription.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:RemoveBirthDateSubscriptionSoapIn" />
      <wsdl:output message="tns:RemoveBirthDateSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveSubscriptionsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Allows a business application to get a list of all subscriptions

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;SubscriptionType[] GetActiveSubsciptionsList()

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;Array of SubscriptionType that represents the current subscriptions

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input name="GetActiveSubsciptionsList" message="tns:GetActiveSubsciptionsListSoapIn" />
      <wsdl:output name="GetActiveSubsciptionsList" message="tns:GetActiveSubsciptionsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping() returns an appropiate status message (HTML formatted) to confirm connection to this web service class.
&lt;br&gt;Consider overloading the method to test complete connection in more complex scenarioes, ie. delegation of user credentials etc.
&lt;br&gt;20070403/SDE
</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriptionsSoap" type="tns:SubscriptionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubscribeApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://tempuri.org/Unsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UnsubscribeApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeOnBirthdate">
      <soap:operation soapAction="http://tempuri.org/SubscribeOnBirthdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubscribeOnBirthdateApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBirthDateSubscription">
      <soap:operation soapAction="http://tempuri.org/RemoveBirthDateSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveBirthDateSubscriptionApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveSubscriptionsList">
      <soap:operation soapAction="http://tempuri.org/GetActiveSubsciptionsList" style="document" />
      <wsdl:input name="GetActiveSubsciptionsList">
        <soap:body use="literal" />
        <soap:header message="tns:GetActiveSubsciptionsListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetActiveSubsciptionsList">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscriptionsSoap12" type="tns:SubscriptionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubscribeApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UnsubscribeApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeOnBirthdate">
      <soap12:operation soapAction="http://tempuri.org/SubscribeOnBirthdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubscribeOnBirthdateApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBirthDateSubscription">
      <soap12:operation soapAction="http://tempuri.org/RemoveBirthDateSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveBirthDateSubscriptionApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveSubscriptionsList">
      <soap12:operation soapAction="http://tempuri.org/GetActiveSubsciptionsList" style="document" />
      <wsdl:input name="GetActiveSubsciptionsList">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetActiveSubsciptionsListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetActiveSubsciptionsList">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Subscriptions">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Subscriptions</wsdl:documentation>
    <wsdl:port name="SubscriptionsSoap" binding="tns:SubscriptionsSoap">
      <soap:address location="http://localhost:1552/Services/Subscriptions.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscriptionsSoap12" binding="tns:SubscriptionsSoap12">
      <soap12:address location="http://localhost:1552/Services/Subscriptions.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>