PART/Source/CPRBroker/CPR Business Application Demo/Service References/SubscriptionsService/Subscriptions21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rep.oio.dk/bbr.dk/xml/schemas/2006/09/30/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/bbr.dk/xml/schemas/2006/09/30/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddressPoint" type="tns:AddressPointType" />
  <xs:complexType name="AddressPointType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressPointIdentifier" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="GeographicPointLocation" type="tns:GeographicPointLocationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressPointStatusStructure" type="tns:AddressPointStatusStructureType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeographicPointLocationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GeographicCoordinateTuple" type="tns:GeographicCoordinateTupleType" />
    </xs:sequence>
    <xs:attribute name="crsIdentifier" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GeographicCoordinateTupleType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GeographicEastingMeasure" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="GeographicNorthingMeasure" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="GeographicHeightMeasure" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressPointStatusStructureType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressPointRevisionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressPointValidStartDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressPointValidEndDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressCoordinateQualityClassCode" type="tns:AddressCoordinateQualityClassCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddressCoordinateQualityClassCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>