PART/Branches/2.1.2/CprBroker/BatchClient/Service References/PersonMaster/personmaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://personmaster.gentofte.dk/BasicOp/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://personmaster.gentofte.dk/BasicOp/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://personmaster.gentofte.dk/BasicOp/01/Imports">
      <xsd:import schemaLocation="http://localhost:8000/personmaster?xsd=xsd0" namespace="http://personmaster.gentofte.dk/BasicOp/01" />
      <xsd:import schemaLocation="http://localhost:8000/personmaster?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/personmaster?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8000/personmaster?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasicOp_CreateObjectOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateObjectOwner" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_CreateObjectOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateObjectOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectOwnerIDFromNamespace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectOwnerIDFromNamespace" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectOwnerIDFromNamespace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectOwnerIDFromNamespaceResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDFromCpr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDFromCpr" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDFromCpr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDFromCprResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDsFromCprArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDsFromCprArray" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDsFromCprArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDsFromCprArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDFromCprWithOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDFromCprWithOwner" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetObjectIDFromCprWithOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectIDFromCprWithOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetCprFromObjectID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCprFromObjectID" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetCprFromObjectID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCprFromObjectIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_MapCpr2Loginname_InputMessage">
    <wsdl:part name="parameters" element="tns:MapCpr2Loginname" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_MapCpr2Loginname_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapCpr2LoginnameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_RenameLoginname_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameLoginname" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_RenameLoginname_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameLoginnameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_DeleteLoginname_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginname" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_DeleteLoginname_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginnameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_LoginnameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginnameExist" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_LoginnameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginnameExistResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetPreferredLoginnameFromCpr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreferredLoginnameFromCpr" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetPreferredLoginnameFromCpr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreferredLoginnameFromCprResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_SetPreferredLoginname_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPreferredLoginname" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_SetPreferredLoginname_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPreferredLoginnameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetAllLoginnamesFromCpr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginnamesFromCpr" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetAllLoginnamesFromCpr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginnamesFromCprResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetCprFromLoginname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCprFromLoginname" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetCprFromLoginname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCprFromLoginnameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_Probe_InputMessage">
    <wsdl:part name="parameters" element="tns:Probe" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_Probe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProbeResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetDBRuntimeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBRuntimeInfo" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_GetDBRuntimeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBRuntimeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_RegisterNonAdminUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNonAdminUser" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_RegisterNonAdminUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNonAdminUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_UnRegisterNonAdminUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterNonAdminUser" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_UnRegisterNonAdminUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterNonAdminUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_IsRegisteredNonAdminUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredNonAdminUser" />
  </wsdl:message>
  <wsdl:message name="IBasicOp_IsRegisteredNonAdminUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredNonAdminUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasicOp">
    <wsdl:operation name="CreateObjectOwner">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/CreateObjectOwner" message="tns:IBasicOp_CreateObjectOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/CreateObjectOwnerResponse" message="tns:IBasicOp_CreateObjectOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectOwnerIDFromNamespace">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectOwnerIDFromNamespace" message="tns:IBasicOp_GetObjectOwnerIDFromNamespace_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectOwnerIDFromNamespaceResponse" message="tns:IBasicOp_GetObjectOwnerIDFromNamespace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectIDFromCpr">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDFromCpr" message="tns:IBasicOp_GetObjectIDFromCpr_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDFromCprResponse" message="tns:IBasicOp_GetObjectIDFromCpr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectIDsFromCprArray">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDsFromCprArray" message="tns:IBasicOp_GetObjectIDsFromCprArray_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDsFromCprArrayResponse" message="tns:IBasicOp_GetObjectIDsFromCprArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectIDFromCprWithOwner">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDFromCprWithOwner" message="tns:IBasicOp_GetObjectIDFromCprWithOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetObjectIDFromCprWithOwnerResponse" message="tns:IBasicOp_GetObjectIDFromCprWithOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCprFromObjectID">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetCprFromObjectID" message="tns:IBasicOp_GetCprFromObjectID_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetCprFromObjectIDResponse" message="tns:IBasicOp_GetCprFromObjectID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapCpr2Loginname">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/MapCpr2Loginname" message="tns:IBasicOp_MapCpr2Loginname_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/MapCpr2LoginnameResponse" message="tns:IBasicOp_MapCpr2Loginname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameLoginname">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/RenameLoginname" message="tns:IBasicOp_RenameLoginname_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/RenameLoginnameResponse" message="tns:IBasicOp_RenameLoginname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginname">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/DeleteLoginname" message="tns:IBasicOp_DeleteLoginname_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/DeleteLoginnameResponse" message="tns:IBasicOp_DeleteLoginname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginnameExist">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/LoginnameExist" message="tns:IBasicOp_LoginnameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/LoginnameExistResponse" message="tns:IBasicOp_LoginnameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferredLoginnameFromCpr">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetPreferredLoginnameFromCpr" message="tns:IBasicOp_GetPreferredLoginnameFromCpr_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetPreferredLoginnameFromCprResponse" message="tns:IBasicOp_GetPreferredLoginnameFromCpr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPreferredLoginname">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/SetPreferredLoginname" message="tns:IBasicOp_SetPreferredLoginname_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/SetPreferredLoginnameResponse" message="tns:IBasicOp_SetPreferredLoginname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLoginnamesFromCpr">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetAllLoginnamesFromCpr" message="tns:IBasicOp_GetAllLoginnamesFromCpr_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetAllLoginnamesFromCprResponse" message="tns:IBasicOp_GetAllLoginnamesFromCpr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCprFromLoginname">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetCprFromLoginname" message="tns:IBasicOp_GetCprFromLoginname_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetCprFromLoginnameResponse" message="tns:IBasicOp_GetCprFromLoginname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/Probe" message="tns:IBasicOp_Probe_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/ProbeResponse" message="tns:IBasicOp_Probe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBRuntimeInfo">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetDBRuntimeInfo" message="tns:IBasicOp_GetDBRuntimeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/GetDBRuntimeInfoResponse" message="tns:IBasicOp_GetDBRuntimeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNonAdminUser">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/RegisterNonAdminUser" message="tns:IBasicOp_RegisterNonAdminUser_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/RegisterNonAdminUserResponse" message="tns:IBasicOp_RegisterNonAdminUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterNonAdminUser">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/UnRegisterNonAdminUser" message="tns:IBasicOp_UnRegisterNonAdminUser_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/UnRegisterNonAdminUserResponse" message="tns:IBasicOp_UnRegisterNonAdminUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredNonAdminUser">
      <wsdl:input wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/IsRegisteredNonAdminUser" message="tns:IBasicOp_IsRegisteredNonAdminUser_InputMessage" />
      <wsdl:output wsaw:Action="http://personmaster.gentofte.dk/BasicOp/01/IBasicOp/IsRegisteredNonAdminUserResponse" message="tns:IBasicOp_IsRegisteredNonAdminUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>