PART/Doc/Final/Service Description/Eventbroker_Notification.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dk.itst" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dk.itst" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Template for a notification listener web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dk.itst">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Notify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notification" type="tns:CommonEventStructureType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CommonEventStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventInfoStructure" type="tns:EventInfoStructureType" />
          <s:element minOccurs="0" maxOccurs="1" name="EventTopic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventSubscriptionReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionStructure" type="tns:ExtensionStructureType" />
          <s:element minOccurs="0" maxOccurs="1" name="EventDetailStructure" type="tns:EventDetailStructureType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventInfoStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventProducerReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EventRegistrationDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EventObjectStructure" type="tns:EventObjectStructureType" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionStructure" type="tns:ExtensionStructureType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventObjectStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ObjectTypeReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventObjectReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="actionSchemeReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventObjectActionCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionStructureType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventDetailStructureType" abstract="true" />
      <s:element name="NotifyResponse">
        <s:complexType />
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifySoap12In">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="NotifySoap12Out">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoap12In">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoap12Out">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationSoap12">
    <wsdl:operation name="Notify">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Called to tell the client system that a notification has been fired
This instance creates a new entry inthe system log.

&lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
&lt;br&gt;void Notify(Schemas.Part.Events.CommonEventStructureType notification)

&lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
&lt;br&gt;&lt;table&gt;
&lt;tr&gt;&lt;td&gt;notification:&lt;/td&gt;&lt;td&gt;The notification object&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;

&lt;br&gt;==============================
</wsdl:documentation>
      <wsdl:input message="tns:NotifySoap12In" />
      <wsdl:output message="tns:NotifySoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">            
Called to make sure the service is online

&lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
&lt;br&gt;void Ping()

&lt;br&gt;==============================
</wsdl:documentation>
      <wsdl:input message="tns:PingSoap12In" />
      <wsdl:output message="tns:PingSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationSoap12" type="tns:NotificationSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://dk.itst/Notify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://dk.itst/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Template for a notification listener web service</wsdl:documentation>
    <wsdl:port name="NotificationSoap12" binding="tns:NotificationSoap12">
      <soap12:address location="http://localhost:1552/Services/Notification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>