PART/Source/CprBroker/BatchClient/Service References/PersonMaster/PersonmasterServiceLibrary7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://personmaster.gentofte.dk/BasicOp/01" elementFormDefault="qualified" targetNamespace="http://personmaster.gentofte.dk/BasicOp/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://personmasterdev/PersonmasterServiceLibrary.BasicOp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://personmasterdev/PersonmasterServiceLibrary.BasicOp.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://personmasterdev/PersonmasterServiceLibrary.BasicOp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="CreateObjectOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameSpace" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectOwnerID" type="q1:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateObjectOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateObjectOwnerResult" type="q2:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectOwnerIDFromNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameSpace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectOwnerIDFromNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetObjectOwnerIDFromNamespaceResult" type="q3:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDFromCpr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDFromCprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetObjectIDFromCprResult" type="q4:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDsFromCprArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cprNoArr" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDsFromCprArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetObjectIDsFromCprArrayResult" nillable="true" type="q6:ArrayOfNullableOfguid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDFromCprWithOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectOwnerID" type="q7:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectIDFromCprWithOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetObjectIDFromCprWithOwnerResult" type="q8:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPRsFromObjectIDArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDArr" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPRsFromObjectIDArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCPRsFromObjectIDArrayResult" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPRsFromObjectIDList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objectIDArr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPRsFromObjectIDListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCPRsFromObjectIDListResult" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCprFromObjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectID" type="q12:guid" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCprFromObjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCprFromObjectIDResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapCpr2Loginname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapCpr2LoginnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameLoginname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameLoginnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginnameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginnameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginnameExistResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferredLoginnameFromCpr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferredLoginnameFromCprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreferredLoginnameFromCprResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreferredLoginname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreferredLoginnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginnamesFromCpr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginnamesFromCprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllLoginnamesFromCprResult" nillable="true" type="q13:ArrayOfstring" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCprFromLoginname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCprFromLoginnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCprFromLoginnameResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Probe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBRuntimeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBRuntimeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNonAdminUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNonAdminUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterNonAdminUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterNonAdminUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegisteredNonAdminUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cprNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegisteredNonAdminUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRegisteredNonAdminUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="aux" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>