PART/Source/CPRBroker/NUnitTester/Service References/Part/Part5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oio:sagdok:2.0.0" elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:2.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd2" namespace="urn:oio:dkal:1.0.0" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd3" namespace="urn:oio:sagdok:1.0.0" />
  <xs:import schemaLocation="http://localhost:1551/Services/Part.svc?xsd=xsd20" namespace="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" />
  <xs:complexType name="LaesInputType">
    <xs:sequence>
      <xs:element xmlns:q1="urn:oio:dkal:1.0.0" minOccurs="0" maxOccurs="1" ref="q1:UUID" />
      <xs:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="tns:TidspunktType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TidspunktType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element xmlns:q2="urn:oio:sagdok:1.0.0" minOccurs="1" maxOccurs="1" ref="q2:TidsstempelDatoTid" />
        <xs:element minOccurs="1" maxOccurs="1" name="GraenseIndikator" type="xs:boolean" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BasicOutputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandardReturType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StatusKode" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="FejlbeskedTekst" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SagDokObjektType">
    <xs:sequence>
      <xs:element xmlns:q3="urn:oio:dkal:1.0.0" minOccurs="0" maxOccurs="1" ref="q3:UUID" />
      <xs:element xmlns:q4="urn:oio:sagdok:1.0.0" minOccurs="0" maxOccurs="1" ref="q4:BrugervendtNoegleTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LaesFiltreretOutputType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SagDokObjektType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KaldenavnTekst" type="xs:string" />
  <xs:element name="NoteTekst" type="xs:string" />
  <xs:element name="Virkning" type="tns:VirkningType" />
  <xs:complexType name="VirkningType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="tns:UnikIdType" />
      <xs:element xmlns:q5="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q5:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnikIdType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element xmlns:q6="urn:oio:dkal:1.0.0" minOccurs="0" maxOccurs="1" ref="q6:UUID" />
        <xs:element minOccurs="0" maxOccurs="1" name="URNIdentifikator" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
  <xs:complexType name="LokalUdvidelseType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TilstandVirkning" type="tns:TilstandVirkningType" />
  <xs:complexType name="TilstandVirkningType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="tns:UnikIdType" />
      <xs:element xmlns:q7="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q7:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="tns:UnikIdType" />
      <xs:element xmlns:q8="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q8:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FlerRelationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="tns:UnikIdType" />
      <xs:element xmlns:q9="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q9:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistreringType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="1" maxOccurs="1" name="LivscyklusKode" type="tns:LivscyklusKodeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="tns:UnikIdType" />
      <xs:element xmlns:q10="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q10:CommentText" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Virkning" type="tns:VirkningType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LivscyklusKodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Opstaaet" />
      <xs:enumeration value="Importeret" />
      <xs:enumeration value="Passiveret" />
      <xs:enumeration value="Slettet" />
      <xs:enumeration value="Rettet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ListInputType">
    <xs:sequence>
      <xs:element xmlns:q11="urn:oio:dkal:1.0.0" minOccurs="0" maxOccurs="unbounded" ref="q11:UUID" />
      <xs:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="tns:TidspunktType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOutputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SoegInputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FoersteResultatReference" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaksimalAntalKvantitet" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SoegSagDokObjektType">
    <xs:sequence>
      <xs:element xmlns:q12="urn:oio:dkal:1.0.0" minOccurs="0" maxOccurs="1" ref="q12:UUID" />
      <xs:element xmlns:q13="urn:oio:sagdok:1.0.0" minOccurs="0" maxOccurs="1" ref="q13:BrugervendtNoegleTekst" />
      <xs:element minOccurs="0" maxOccurs="1" name="SoegRegistrering" type="tns:SoegRegistreringType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SoegVirkning" type="tns:SoegVirkningType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SoegRegistreringType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LivscyklusKode" type="tns:LivscyklusKodeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="tns:UnikIdType" />
      <xs:element xmlns:q14="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q14:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SoegVirkningType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="tns:TidspunktType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="tns:UnikIdType" />
      <xs:element xmlns:q15="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q15:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoegVirkning" type="tns:SoegVirkningType" />
  <xs:complexType name="SoegRelationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SoegVirkning" type="tns:SoegVirkningType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="tns:UnikIdType" />
      <xs:element xmlns:q16="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" minOccurs="0" maxOccurs="1" ref="q16:CommentText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SoegOutputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
      <xs:element xmlns:q17="urn:oio:sagdok:1.0.0" minOccurs="0" maxOccurs="1" ref="q17:Idliste" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>