PART/Source/CPRBroker/NUnitTester/Web References/Admin/Admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dk.itst" xmlns:s1="http://rep.oio.dk/cpr.dk/xml/schemas/2009/07/01/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dk.itst" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Contains methods related to administrative functions
                                                </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dk.itst">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/2009/07/01/" />
      <s:element name="RequestAppRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestAppRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ApproveAppRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveAppRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApproveAppRegistrationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAppRegistrations">
        <s:complexType />
      </s:element>
      <s:element name="ListAppRegistrationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAppRegistrationsResult" type="tns:ArrayOfApplicationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApplicationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationType" nillable="true" type="s1:ApplicationType" />
        </s:sequence>
      </s:complexType>
      <s:element name="UnregisterApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnregisterAppResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCapabilities">
        <s:complexType />
      </s:element>
      <s:element name="GetCapabilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCapabilitiesResult" type="tns:ArrayOfServiceVersionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceVersionType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceVersionType" nillable="true" type="s1:ServiceVersionType" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsImplementing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsImplementingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsImplementingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataProviderList">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfDataProviderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataProviderType" nillable="true" type="s1:DataProviderType" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataProviderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataProviderListResult" type="tns:ArrayOfDataProviderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataProviderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataProviders" type="tns:ArrayOfDataProviderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataProviderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDataProviderListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Log">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/2009/07/01/">
      <s:element name="Application" type="s1:ApplicationType" />
      <s:complexType name="ApplicationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegistrationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsApproved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ApprovedDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceVersionType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Functions" type="s1:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Functions" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataProviderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attributes" type="s1:AttributeType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestAppRegistrationSoap12In">
    <wsdl:part name="parameters" element="tns:RequestAppRegistration" />
  </wsdl:message>
  <wsdl:message name="RequestAppRegistrationSoap12Out">
    <wsdl:part name="parameters" element="tns:RequestAppRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="RequestAppRegistrationApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ApproveAppRegistrationSoap12In">
    <wsdl:part name="parameters" element="tns:ApproveAppRegistration" />
  </wsdl:message>
  <wsdl:message name="ApproveAppRegistrationSoap12Out">
    <wsdl:part name="parameters" element="tns:ApproveAppRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveAppRegistrationApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ListAppRegistrationsSoap12In">
    <wsdl:part name="parameters" element="tns:ListAppRegistrations" />
  </wsdl:message>
  <wsdl:message name="ListAppRegistrationsSoap12Out">
    <wsdl:part name="parameters" element="tns:ListAppRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="ListAppRegistrationsApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="UnregisterAppSoap12In">
    <wsdl:part name="parameters" element="tns:UnregisterApp" />
  </wsdl:message>
  <wsdl:message name="UnregisterAppSoap12Out">
    <wsdl:part name="parameters" element="tns:UnregisterAppResponse" />
  </wsdl:message>
  <wsdl:message name="UnregisterAppApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesSoap12In">
    <wsdl:part name="parameters" element="tns:GetCapabilities" />
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesSoap12Out">
    <wsdl:part name="parameters" element="tns:GetCapabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="IsImplementingSoap12In">
    <wsdl:part name="parameters" element="tns:IsImplementing" />
  </wsdl:message>
  <wsdl:message name="IsImplementingSoap12Out">
    <wsdl:part name="parameters" element="tns:IsImplementingResponse" />
  </wsdl:message>
  <wsdl:message name="IsImplementingApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataProviderListSoap12In">
    <wsdl:part name="parameters" element="tns:GetDataProviderList" />
  </wsdl:message>
  <wsdl:message name="GetDataProviderListSoap12Out">
    <wsdl:part name="parameters" element="tns:GetDataProviderListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataProviderListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="SetDataProviderListSoap12In">
    <wsdl:part name="parameters" element="tns:SetDataProviderList" />
  </wsdl:message>
  <wsdl:message name="SetDataProviderListSoap12Out">
    <wsdl:part name="parameters" element="tns:SetDataProviderListResponse" />
  </wsdl:message>
  <wsdl:message name="SetDataProviderListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="LogSoap12In">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="LogSoap12Out">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="LogApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="PingSoap12In">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoap12Out">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminSoap12">
    <wsdl:operation name="RequestAppRegistration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Creates a new un-approved application in the system.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;ApplicationType RequestAppRegisteration(string ApplicationName)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;ApplicationName (input):&lt;/td&gt;&lt;td&gt;Application name that ask for registering.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return ApplicationType that specify the new appication.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:RequestAppRegistrationSoap12In" />
      <wsdl:output message="tns:RequestAppRegistrationSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="ApproveAppRegistration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Approves an application's registeration
                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool ApproveAppRegisteration(string ApplicationToken)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;'ApplicationToken' (input):&lt;/td&gt;&lt;td&gt;Token for the business client application to be approved.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:ApproveAppRegistrationSoap12In" />
      <wsdl:output message="tns:ApproveAppRegistrationSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="ListAppRegistrations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                List Application Registeration
                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;ApplicationType[] ListAppRegisteration()

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;Array of ApplicationType that represents the existing application registered in the system

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:ListAppRegistrationsSoap12In" />
      <wsdl:output message="tns:ListAppRegistrationsSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Unregister an application registeration
                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool UnregisterApp(string ApplicationToken)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;ApplicationToken (input):&lt;/td&gt;&lt;td&gt;Security Token for the current business client application.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:UnregisterAppSoap12In" />
      <wsdl:output message="tns:UnregisterAppSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Reads version information for the component to make sure that only features
                                                supported by the component is returned
                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;string GetCapabilities(string userToken, string appToken)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;'userToken' (input):&lt;/td&gt;&lt;td&gt;Security Token for authorizing the request.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;'appToken' (input):&lt;/td&gt;&lt;td&gt;Security Token for the current business client application.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return the result of the request.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Notes:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt; P1-P2 It is important that we use any standard or 'best practice' on this area. The sigature for
                                                this service is important. Syntax and semantic must be invariant over time. Response,
                                                probably in the form of an appropriate XML document will varie.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-05-11, CPR Broker&lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;Initial Method Draft.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:GetCapabilitiesSoap12In" />
      <wsdl:output message="tns:GetCapabilitiesSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="IsImplementing">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Direct (easier) alternative to GetCapabilities()

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;string IsImplementing(string userToken, string appToken,string serviceName,string serviceVersion)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;'userToken' (input):&lt;/td&gt;&lt;td&gt;Security Token for authorizing the user request.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;'appToken' (input):&lt;/td&gt;&lt;td&gt;Security Token for the current business client application.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;'serviceName' (input):&lt;/td&gt;&lt;td&gt;Service Name&lt;/td&gt;&lt;/tr&gt;
                                                &lt;tr&gt;&lt;td&gt;'serviceVersion' (input):&lt;/td&gt;&lt;td&gt;Service Version&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return the result of the request.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-05-11, CPR Broker&lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;Initial Method Draft.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:IsImplementingSoap12In" />
      <wsdl:output message="tns:IsImplementingSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="GetDataProviderList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Returns a list of objects that contain information about the data providers that are currently used by the system.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;DataProviderType[] GetDataProviderList()

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;Array of DataProviderType containing information about the data providers used by the system.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:GetDataProviderListSoap12In" />
      <wsdl:output message="tns:GetDataProviderListSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="SetDataProviderList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Gives the opportunity to attach one or more data providers,
                                                e.g., CSC DPR, P-Data, online.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool SetDataProviderList(DataProviderType[] dataProviders)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;DataProviders (input):&lt;/td&gt;&lt;td&gt;Array of data providers that the system should use.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:SetDataProviderListSoap12In" />
      <wsdl:output message="tns:SetDataProviderListSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Writes a text string to the system's log
                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Signature:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;bool Log(string Text)

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Parameter Description:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;&lt;table&gt;
                                                &lt;tr&gt;&lt;td&gt;Text (input):&lt;/td&gt;&lt;td&gt;the text value to be logged.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;

                                                &lt;br&gt;&lt;b&gt;&lt;u&gt;Return Value:&lt;/u&gt;&lt;/b&gt;
                                                &lt;br&gt;return bool that represents whether the operation has succeeded.

                                                &lt;br&gt;&lt;br&gt;&lt;b&gt;&lt;u&gt;Review:&lt;/u&gt;&lt;/b&gt;
                                                &lt;table&gt;
                                                &lt;tr&gt;&lt;td width='30%'&gt;2009-08-20, CPR Broker &lt;/td&gt;&lt;td width='10%'&gt;&lt;/td&gt;&lt;td width='60%'&gt;First release.&lt;/td&gt;&lt;/tr&gt;
                                                &lt;/table&gt;
                                                &lt;br&gt;==============================
                                                </wsdl:documentation>
      <wsdl:input message="tns:LogSoap12In" />
      <wsdl:output message="tns:LogSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping() returns an appropiate status message (HTML formatted) to confirm connection to this web service class.
&lt;br&gt;Consider overloading the method to test complete connection in more complex scenarioes, ie. delegation of user credentials etc.
&lt;br&gt;20070403/SDE
</wsdl:documentation>
      <wsdl:input message="tns:PingSoap12In" />
      <wsdl:output message="tns:PingSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminSoap12" type="tns:AdminSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestAppRegistration">
      <soap12:operation soapAction="http://dk.itst/RequestAppRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestAppRegistrationApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveAppRegistration">
      <soap12:operation soapAction="http://dk.itst/ApproveAppRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ApproveAppRegistrationApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAppRegistrations">
      <soap12:operation soapAction="http://dk.itst/ListAppRegistrations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAppRegistrationsApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterApp">
      <soap12:operation soapAction="http://dk.itst/UnregisterApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UnregisterAppApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <soap12:operation soapAction="http://dk.itst/GetCapabilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCapabilitiesApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsImplementing">
      <soap12:operation soapAction="http://dk.itst/IsImplementing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsImplementingApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataProviderList">
      <soap12:operation soapAction="http://dk.itst/GetDataProviderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataProviderListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataProviderList">
      <soap12:operation soapAction="http://dk.itst/SetDataProviderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetDataProviderListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap12:operation soapAction="http://dk.itst/Log" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://dk.itst/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                Contains methods related to administrative functions
                                                </wsdl:documentation>
    <wsdl:port name="AdminSoap12" binding="tns:AdminSoap12">
      <soap12:address location="http://localhost:1551/services/Admin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>