PART/Source/CprBroker/ServicePlatform/Service References/CprService/CprServiceTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/CprService/1/" xmlns:invctx="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/" elementFormDefault="qualified" targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/CprService/1/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvocationContext_20121009.xsd" namespace="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/" />
  <xsd:complexType name="GCTPRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="invctx:InvocationContext" />
      <xsd:element minOccurs="1" maxOccurs="1" name="gctpMessage" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GCTPResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="result" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>