PART/Source/Tests/NUnitTester/Web References/Part/Part.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s16="http://rep.oio.dk/bbr.dk/xml/schemas/2006/09/30/" xmlns:s7="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:s15="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" xmlns:s2="urn:oio:dkal:1.0.0" xmlns:s19="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/" xmlns:s13="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s12="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" xmlns:s5="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" xmlns:s8="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" xmlns:s10="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s17="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/" xmlns:s3="urn:oio:sagdok:1.0.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s21="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/" xmlns:s22="urn:oio:sagdok:part:1.0.0" xmlns:tns="http://dk.itst" xmlns:s18="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:s20="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/03/" xmlns:s1="urn:oio:sagdok:2.0.0" xmlns:s11="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/" xmlns:s6="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" xmlns:s9="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s4="urn:oio:sagdok:person:1.0.0" xmlns:s14="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://dk.itst" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dk.itst">
      <s:import namespace="urn:oio:sagdok:2.0.0" />
      <s:import namespace="urn:oio:sagdok:person:1.0.0" />
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:LaesInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:LaesOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="QualityHeader" type="tns:QualityHeader" />
      <s:complexType name="QualityHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QualityLevel" nillable="true" type="tns:QualityLevel" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:simpleType name="QualityLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Cpr" />
          <s:enumeration value="DataProvider" />
          <s:enumeration value="LocalCache" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RefreshRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:LaesInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:LaesOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ListInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:ListOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:SoegInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:SoegOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cprNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:GetUuidOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:2.0.0">
      <s:import namespace="urn:oio:dkal:1.0.0" />
      <s:import namespace="urn:oio:sagdok:1.0.0" />
      <s:import namespace="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/" />
      <s:element name="LaesInput" type="s1:LaesInputType" />
      <s:complexType name="LaesInputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s2:UUID" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="s1:TidspunktType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TidspunktType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" ref="s3:TidsstempelDatoTid" />
            <s:element minOccurs="1" maxOccurs="1" name="GraenseIndikator" type="s:boolean" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="BasicOutputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="s1:StandardReturType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StandardReturType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusKode" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="FejlbeskedTekst" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistreringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="1" maxOccurs="1" name="LivscyklusKode" type="s1:LivscyklusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Virkning" type="s1:VirkningType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LivscyklusKodeType">
        <s:restriction base="s:string">
          <s:enumeration value="Opstaaet" />
          <s:enumeration value="Importeret" />
          <s:enumeration value="Passiveret" />
          <s:enumeration value="Slettet" />
          <s:enumeration value="Rettet" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UnikIdType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" ref="s2:UUID" />
            <s:element minOccurs="0" maxOccurs="1" name="URNIdentifikator" type="s:string" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="VirkningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:element name="KaldenavnTekst" type="s:string" />
      <s:element name="NoteTekst" type="s:string" />
      <s:element name="Virkning" type="s1:VirkningType" />
      <s:element name="LokalUdvidelse" type="s1:LokalUdvidelseType" />
      <s:complexType name="LokalUdvidelseType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:element name="TilstandVirkning" type="s1:TilstandVirkningType" />
      <s:complexType name="TilstandVirkningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="s1:VirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="s1:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FlerRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="s1:VirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SagDokObjektType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s2:UUID" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:BrugervendtNoegleTekst" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaesFiltreretOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SagDokObjektType" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ListInput" type="s1:ListInputType" />
      <s:complexType name="ListInputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s2:UUID" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="s1:TidspunktType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListOutputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="s1:StandardReturType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegInputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FoersteResultatReference" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="MaksimalAntalKvantitet" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegSagDokObjektType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s2:UUID" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:BrugervendtNoegleTekst" />
          <s:element minOccurs="0" maxOccurs="1" name="SoegRegistrering" type="s1:SoegRegistreringType" />
          <s:element minOccurs="0" maxOccurs="1" name="SoegVirkning" type="s1:SoegVirkningType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegRegistreringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="LivscyklusKode" type="s1:LivscyklusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegVirkningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="s1:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerRef" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoegVirkning" type="s1:SoegVirkningType" />
      <s:complexType name="SoegRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SoegVirkning" type="s1:SoegVirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s1:UnikIdType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:CommentText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegOutputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="s1:StandardReturType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:Idliste" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:dkal:1.0.0">
      <s:element name="UUID" type="s:string" />
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UUID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:1.0.0">
      <s:import namespace="urn:oio:dkal:1.0.0" />
      <s:element name="TidsstempelDatoTid" type="s:dateTime" />
      <s:element name="BrugervendtNoegleTekst" type="s:string" />
      <s:element name="Idliste" type="s2:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:person:1.0.0">
      <s:import namespace="urn:oio:sagdok:2.0.0" />
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" />
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/" />
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" />
      <s:import namespace="http://rep.oio.dk/bbr.dk/xml/schemas/2006/09/30/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/03/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="urn:oio:dkal:1.0.0" />
      <s:import namespace="urn:oio:sagdok:part:1.0.0" />
      <s:element name="LaesOutput" type="s4:LaesOutputType" />
      <s:complexType name="LaesOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LaesResultat" type="s4:LaesResultatType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegistreringOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Registrering" type="s4:RegistreringType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegistreringType">
        <s:complexContent mixed="false">
          <s:extension base="s1:RegistreringType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AttributListe" type="s4:AttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="TilstandListe" type="s4:TilstandListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="RelationListe" type="s4:RelationListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AttributListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Egenskab" type="s4:EgenskabType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SundhedOplysning" type="s4:SundhedOplysningType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegisterOplysning" type="s4:RegisterOplysningType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EgenskabType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NavnStruktur" type="s4:NavnStrukturType" />
          <s:element minOccurs="1" maxOccurs="1" ref="s9:PersonGenderCode" />
          <s:element minOccurs="1" maxOccurs="1" ref="s10:BirthDate" />
          <s:element minOccurs="0" maxOccurs="1" name="FoedselsregistreringMyndighedNavn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FoedestedNavn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KontaktKanal" type="s4:KontaktKanalType" />
          <s:element minOccurs="0" maxOccurs="1" name="NaermestePaaroerende" type="s4:KontaktKanalType" />
          <s:element minOccurs="0" maxOccurs="1" name="AndreAdresser" type="s4:AdresseType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:Virkning" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NavnStrukturType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s6:PersonNameStructure" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:KaldenavnTekst" />
          <s:element minOccurs="0" maxOccurs="1" ref="s8:PersonNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:NoteTekst" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KontaktKanalType">
        <s:complexContent mixed="false">
          <s:extension base="s4:KontaktKanalBaseType">
            <s:sequence>
              <s:choice minOccurs="1" maxOccurs="1">
                <s:element minOccurs="0" maxOccurs="1" name="AndenKontaktKanal" type="s4:AndenKontaktKanalType" />
                <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s4:TelefonType" />
                <s:element minOccurs="0" maxOccurs="1" ref="s12:EmailAddressIdentifier" />
              </s:choice>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="KontaktKanalBaseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BegraensetAnvendelseTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:NoteTekst" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AndenKontaktKanalType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s1:NoteTekst" />
          <s:element minOccurs="0" maxOccurs="1" name="KontaktKanalTekst" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TelefonType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s11:TelephoneNumberIdentifier" />
          <s:element minOccurs="1" maxOccurs="1" name="KanBrugesTilSmsIndikator" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdresseType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="VerdenAdresse" type="s4:VerdenAdresseType" />
            <s:element minOccurs="0" maxOccurs="1" name="GroenlandAdresse" type="s4:GroenlandAdresseType" />
            <s:element minOccurs="0" maxOccurs="1" name="DanskAdresse" type="s4:DanskAdresseType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="VerdenAdresseType">
        <s:complexContent mixed="false">
          <s:extension base="s4:AdresseBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" ref="s17:ForeignAddressStructure" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AdresseBaseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s1:NoteTekst" />
          <s:element minOccurs="1" maxOccurs="1" name="UkendtAdresseIndikator" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DanskAdresseType">
        <s:complexContent mixed="false">
          <s:extension base="s4:AdresseBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" ref="s13:AddressComplete" />
              <s:element minOccurs="0" maxOccurs="1" ref="s16:AddressPoint" />
              <s:element minOccurs="0" maxOccurs="1" name="SpecielVejkodeIndikator" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SocialDistriktTekst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SkoleDistriktTekst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostDistriktTekst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SogneDistriktTekst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ValgkredsDistriktTekst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PolitiDistriktTekst" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GroenlandAdresseType">
        <s:complexContent mixed="false">
          <s:extension base="s4:AdresseBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" ref="s17:AddressCompleteGreenland" />
              <s:element minOccurs="0" maxOccurs="1" name="SpecielVejkodeIndikator" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SundhedOplysningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PraktiserendeLaegeNavn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PraktiserendeLaegeYderNummerIdentifikator" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="SygesikringsgruppeKode" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:Virkning" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegisterOplysningType">
        <s:complexContent mixed="false">
          <s:extension base="s4:RegisterOplysningBaseType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" ref="s1:Virkning" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegisterOplysningBaseType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="UdenlandskBorger" type="s4:UdenlandskBorgerType" />
            <s:element minOccurs="0" maxOccurs="1" name="CprBorger" type="s4:CprBorgerType" />
            <s:element minOccurs="0" maxOccurs="1" name="UkendtBorger" type="s4:UkendtBorgerType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="UdenlandskBorgerType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PersonIdentifikator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s20:PersonNationalityCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s21:PersonCivilRegistrationReplacementIdentifier" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SprogKode" type="s7:CountryIdentificationCodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="FoedselslandKode" type="s7:CountryIdentificationCodeType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CprBorgerType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s14:PersonCivilRegistrationIdentifier" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonNummerGyldighedStatusIndikator" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" ref="s20:PersonNationalityCode" />
          <s:element minOccurs="1" maxOccurs="1" name="NavneAdresseBeskyttelseIndikator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TelefonNummerBeskyttelseIndikator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ForskerBeskyttelseIndikator" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FolkeregisterAdresse" type="s4:AdresseType" />
          <s:element minOccurs="0" maxOccurs="1" name="AdresseNoteTekst" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FolkekirkeMedlemIndikator" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UkendtBorgerType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s21:PersonCivilRegistrationReplacementIdentifier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TilstandListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LivStatus" type="s4:LivStatusType" />
          <s:element minOccurs="0" maxOccurs="1" name="CivilStatus" type="s4:CivilStatusType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LivStatusType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LivStatusKode" type="s4:LivStatusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:TilstandVirkning" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LivStatusKodeType">
        <s:restriction base="s:string">
          <s:enumeration value="Prenatal" />
          <s:enumeration value="Foedt" />
          <s:enumeration value="Forsvundet" />
          <s:enumeration value="Doed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CivilStatusType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CivilStatusKode" type="s4:CivilStatusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:TilstandVirkning" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CivilStatusKodeType">
        <s:restriction base="s:string">
          <s:enumeration value="Ugift" />
          <s:enumeration value="Gift" />
          <s:enumeration value="RegistreretPartner" />
          <s:enumeration value="Separeret" />
          <s:enumeration value="Skilt" />
          <s:enumeration value="OphaevetPartnerskab" />
          <s:enumeration value="Enke" />
          <s:enumeration value="Laengstlevende" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RelationListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Moder" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fader" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Boern" type="s1:PersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Aegtefaelle" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegistreretPartner" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bopaelssamling" type="s1:PersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Foraeldremyndighedsindehaver" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Foraeldremyndighedsboern" type="s1:PersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RetligHandleevneVaergeForPersonen" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RetligHandleevneVaergemaalsindehaver" type="s1:PersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErstatningFor" type="s1:PersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErstatningAf" type="s4:PersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonRelationType">
        <s:complexContent mixed="false">
          <s:extension base="s1:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetUuidOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" ref="s2:UUID" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OpretOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Person" type="s4:PersonType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PersonType">
        <s:complexContent mixed="false">
          <s:extension base="s22:PartType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Registrering" type="s4:RegistreringType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FiltreretOejebliksbilledeType">
        <s:complexContent mixed="false">
          <s:extension base="s1:LaesFiltreretOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AttributListe" type="s4:AttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="TilstandListe" type="s4:TilstandListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="RelationListe" type="s4:RelationListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LaesResultatType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="FiltreretOejebliksbillede" type="s4:FiltreretOejebliksbilledeType" />
            <s:element minOccurs="0" maxOccurs="1" name="Registrering" type="s4:RegistreringType" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:element name="ListOutput" type="s4:ListOutputType" />
      <s:complexType name="ListOutputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:ListOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="LaesResultat" type="s4:LaesResultatType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SoegInput" type="s4:SoegInputType" />
      <s:complexType name="SoegInputType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SoegInputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SoegObjekt" type="s4:SoegObjektType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SoegObjektType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SoegSagDokObjektType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SoegAttributListe" type="s4:SoegAttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="SoegTilstandListe" type="s4:SoegTilstandListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="SoegRelationListe" type="s4:SoegRelationListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SoegAttributListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegEgenskab" type="s4:SoegEgenskabType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegSundhedOplysning" type="s4:SundhedOplysningType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegRegisterOplysning" type="s4:RegisterOplysningType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegEgenskabType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NavnStruktur" type="s4:NavnStrukturType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s9:PersonGenderCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:BirthDate" />
          <s:element minOccurs="0" maxOccurs="1" name="FoedselsregistreringMyndighedNavn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FoedestedNavn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KontaktKanal" type="s4:KontaktKanalType" />
          <s:element minOccurs="0" maxOccurs="1" name="NaermestePaaroerende" type="s4:KontaktKanalType" />
          <s:element minOccurs="0" maxOccurs="1" name="AndreAdresser" type="s4:AdresseType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:SoegVirkning" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegTilstandListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LivStatus" type="s4:LivStatusType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="CivilStatus" type="s4:CivilStatusType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegRelationListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegModer" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegFader" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegBoern" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegAegtefaelle" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegRegistreretPartner" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegBopaelsamling" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegForaeldremyndighedsindehaver" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegForaeldremyndighedsboern" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegRetligHandleevneVaergeForPersonen" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegRetligHandleevneVaergemaalsindehaver" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegErstatningFor" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegErstattesAf" type="s1:SoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:LokalUdvidelse" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoegOutput" type="s1:SoegOutputType" />
      <s:element name="GetUuidOutput" type="s4:GetUuidOutputType" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/vejsektoren.dk/core/schemas/xml/2007/03/31/">
      <s:element name="CommentText" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="PersonNameStructure" type="s6:PersonNameStructureType" />
      <s:complexType name="PersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s7:PersonGivenName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:PersonMiddleName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:PersonSurnameName" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
      <s:element name="PersonGivenName" type="s:string" />
      <s:element name="PersonMiddleName" type="s:string" />
      <s:element name="PersonSurnameName" type="s:string" />
      <s:element name="StreetBuildingIdentifier" type="s:string" />
      <s:element name="MailDeliverySublocationIdentifier" type="s:string" />
      <s:element name="FloorIdentifier" type="s:string" />
      <s:element name="SuiteIdentifier" type="s:string" />
      <s:element name="CountryIdentificationCode" type="s7:CountryIdentificationCodeType" />
      <s:complexType name="CountryIdentificationCodeType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="scheme" type="s7:_CountryIdentificationSchemeType" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="_CountryIdentificationSchemeType">
        <s:restriction base="s:string">
          <s:enumeration value="iso3166-alpha2" />
          <s:enumeration value="iso3166-alpha3" />
          <s:enumeration value="un-numeric3" />
          <s:enumeration value="imk" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/">
      <s:element name="PersonNameForAddressingName" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/23/">
      <s:element name="PersonGenderCode" type="s9:PersonGenderCodeType" />
      <s:simpleType name="PersonGenderCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="male" />
          <s:enumeration value="female" />
          <s:enumeration value="unspecified" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/">
      <s:element name="BirthDate" type="s:date" />
      <s:element name="StreetName" type="s:string" />
      <s:element name="DistrictSubdivisionIdentifier" type="s:string" />
      <s:element name="PostCodeIdentifier" type="s:string" />
      <s:element name="DistrictName" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/">
      <s:element name="TelephoneNumberIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="EmailAddressIdentifier" type="s:string" />
      <s:element name="AddressAccess" type="s12:AddressAccessType" />
      <s:complexType name="AddressAccessType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s14:MunicipalityCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s14:StreetCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:StreetBuildingIdentifier" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/">
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" />
      <s:element name="AddressComplete" type="s13:AddressCompleteType" />
      <s:complexType name="AddressCompleteType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s12:AddressAccess" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPostal" type="s13:AddressPostalType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressPostalType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s7:MailDeliverySublocationIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:StreetName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s14:StreetNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:StreetBuildingIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:FloorIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:SuiteIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:DistrictSubdivisionIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s15:PostOfficeBoxIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostCodeIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:DistrictName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:CountryIdentificationCode" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/">
      <s:element name="MunicipalityCode" type="s:string" />
      <s:element name="StreetCode" type="s:string" />
      <s:element name="StreetNameForAddressingName" type="s:string" />
      <s:element name="PersonCivilRegistrationIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/">
      <s:element name="PostOfficeBoxIdentifier" type="s:integer" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/bbr.dk/xml/schemas/2006/09/30/">
      <s:element name="AddressPoint" type="s16:AddressPointType" />
      <s:complexType name="AddressPointType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointIdentifier" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="GeographicPointLocation" type="s16:GeographicPointLocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointStatusStructure" type="s16:AddressPointStatusStructureType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeographicPointLocationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GeographicCoordinateTuple" type="s16:GeographicCoordinateTupleType" />
        </s:sequence>
        <s:attribute name="crsIdentifier" type="s:string" />
      </s:complexType>
      <s:complexType name="GeographicCoordinateTupleType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeographicEastingMeasure" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GeographicNorthingMeasure" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="GeographicHeightMeasure" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressPointStatusStructureType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AddressPointRevisionDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointValidStartDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointValidEndDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCoordinateQualityClassCode" type="s16:AddressCoordinateQualityClassCodeType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AddressCoordinateQualityClassCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="A" />
          <s:enumeration value="B" />
          <s:enumeration value="U" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" />
      <s:import namespace="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/" />
      <s:element name="AddressCompleteGreenland" type="s17:AddressCompleteGreenlandType" />
      <s:complexType name="AddressCompleteGreenlandType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s14:MunicipalityCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s14:StreetCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:MailDeliverySublocationIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:StreetName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s14:StreetNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:StreetBuildingIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" name="GreenlandBuildingIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:SuiteIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:FloorIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:DistrictSubdivisionIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostCodeIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:DistrictName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:CountryIdentificationCode" />
        </s:sequence>
      </s:complexType>
      <s:element name="ForeignAddressStructure" type="s17:ForeignAddressStructureType" />
      <s:complexType name="ForeignAddressStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s18:PostalAddressFirstLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s18:PostalAddressSecondLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s18:PostalAddressThirdLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s18:PostalAddressFourthLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s18:PostalAddressFifthLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s7:CountryIdentificationCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s19:LocationDescriptionText" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/">
      <s:element name="PostalAddressFirstLineText" type="s:string" />
      <s:element name="PostalAddressSecondLineText" type="s:string" />
      <s:element name="PostalAddressThirdLineText" type="s:string" />
      <s:element name="PostalAddressFourthLineText" type="s:string" />
      <s:element name="PostalAddressFifthLineText" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/">
      <s:element name="LocationDescriptionText" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2006/01/03/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="PersonNationalityCode" type="s7:CountryIdentificationCodeType" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/2007/01/02/">
      <s:element name="PersonCivilRegistrationReplacementIdentifier" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:part:1.0.0">
      <s:import namespace="urn:oio:sagdok:2.0.0" />
      <s:complexType name="PartType">
        <s:complexContent mixed="false">
          <s:extension base="s1:SagDokObjektType" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoap12In">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoap12Out">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ReadQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshReadSoap12In">
    <wsdl:part name="parameters" element="tns:RefreshRead" />
  </wsdl:message>
  <wsdl:message name="RefreshReadSoap12Out">
    <wsdl:part name="parameters" element="tns:RefreshReadResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshReadApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshReadQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="ListSoap12In">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoap12Out">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ListQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="SearchSoap12In">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoap12Out">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="SearchQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="GetUuidSoap12In">
    <wsdl:part name="parameters" element="tns:GetUuid" />
  </wsdl:message>
  <wsdl:message name="GetUuidSoap12Out">
    <wsdl:part name="parameters" element="tns:GetUuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetUuidApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:portType name="PartSoap12">
    <wsdl:operation name="Read">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks in the local database first
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ReadSoap12In" />
      <wsdl:output message="tns:ReadSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks first in the fresh data at data providers
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:RefreshReadSoap12In" />
      <wsdl:output message="tns:RefreshReadSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the ID List supplied
Input: ID List
Output : Object List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ListSoap12In" />
      <wsdl:output message="tns:ListSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the search criteria
Input : Search Criteria
Output : ID List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:SearchSoap12In" />
      <wsdl:output message="tns:SearchSoap12Out" />
    </wsdl:operation>
    <wsdl:operation name="GetUuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the person's UUID from his CPR number. Calls the UUID assigning authority if not found locally.
Input : CPR Number
Output : GetUuidOutputType contating the person's UUID
</wsdl:documentation>
      <wsdl:input message="tns:GetUuidSoap12In" />
      <wsdl:output message="tns:GetUuidSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartSoap12" type="tns:PartSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://dk.itst/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <soap12:operation soapAction="http://dk.itst/RefreshRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshReadApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://dk.itst/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://dk.itst/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUuid">
      <soap12:operation soapAction="http://dk.itst/GetUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUuidApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Part">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
    <wsdl:port name="PartSoap12" binding="tns:PartSoap12">
      <soap12:address location="http://localhost:1551/Services/Part.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>