PART/Source/CPRBroker/NUnitTester/Web References/Part/Part.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="urn:oio:dkal:1.0.0" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" xmlns:s4="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" />
      <s:import namespace="urn:oio:dkal:1.0.0" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:LaesInputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LaesInputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="tns:TidspunktType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TidspunktType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaesResultatType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistreringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TidspunktDatoTid" type="tns:TidspunktType" />
          <s:element minOccurs="1" maxOccurs="1" name="LivscyklusKode" type="tns:LivscyklusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LivscyklusKodeType">
        <s:restriction base="s:string">
          <s:enumeration value="1" />
          <s:enumeration value="2" />
          <s:enumeration value="3" />
          <s:enumeration value="4" />
          <s:enumeration value="5" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="VirkningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistreringType1">
        <s:complexContent mixed="false">
          <s:extension base="tns:RegistreringType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AttributListe" type="tns:AttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="TilstandListe" type="tns:TilstandListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="RelationListe" type="tns:RelationListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AttributListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Egenskaber" type="tns:ArrayOfEgenskaberType" />
          <s:element minOccurs="0" maxOccurs="1" name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEgenskaberType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EgenskaberType" nillable="true" type="tns:EgenskaberType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EgenskaberType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PersonNameStructure" type="s1:PersonNameStructureType" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonGenderCode" type="tns:PersonGenderCodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonBirthDateStructure" type="tns:PersonBirthDateStructureType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterOplysninger" type="tns:RegisterOplysningerType" />
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PersonGenderCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="male" />
          <s:enumeration value="female" />
          <s:enumeration value="unspecified" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PersonBirthDateStructureType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDateUncertaintyIndicator" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegisterOplysningerType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LokalUdvidelseType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TilstandListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RelationListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Moder" type="tns:ArrayOfPersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Fader" type="tns:ArrayOfPersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Boern" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Aegtefaelle" type="tns:ArrayOfPersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreretPartner" type="tns:ArrayOfPersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Bopaelssamling" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ForaeldremyndgihdedsIndehaver" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ForaeldremyndgihdedsBoern" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RetligHandleevneVaergeForPersonen" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RetligHandleevneVaergemaalsIndehaver" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErstatningFor" type="tns:ArrayOfPersonRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErstattesAf" type="tns:ArrayOfPersonFlerRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersonRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonRelationType" nillable="true" type="tns:PersonRelationType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceIDTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AktoerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DokumentRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="KlassifikationRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="KlasseRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FacetRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganisationRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VirksomhedRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArkivRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SagRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPersonFlerRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonFlerRelationType" nillable="true" type="tns:PersonFlerRelationType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FlerRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceIDTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrganisationEnhedFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganisationFunktionFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InteressefaellesskabFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ItSystemFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AktoerFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PartFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MyndighedFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AdresseFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BrugerFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganisationEnhedRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganisationFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DokumentFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SagFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="KlasseFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArkivFlerRelationType">
        <s:complexContent mixed="false">
          <s:extension base="tns:FlerRelationType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SagDokObjektType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrugervendtNoegleTekst" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SagDokObjektType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Registrering" type="tns:ArrayOfRegistreringType1" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRegistreringType1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegistreringType1" nillable="true" type="tns:RegistreringType1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaesFiltreretOutputType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:SagDokObjektType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FiltreretOejebliksBillede">
        <s:complexContent mixed="false">
          <s:extension base="tns:LaesFiltreretOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AttributListe" type="tns:AttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="TilstandListe" type="tns:TilstandListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="RelationListe" type="tns:RelationListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BasicOutputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StandardReturType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatuskodeKode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FejlbeskedTekst" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaesOutputType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LaesResultat" type="tns:LaesResultatType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegistreringOutputType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Registrering" type="tns:RegistreringType1" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OpretOutputType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Person" type="tns:PersonType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:LaesOutputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="QualityHeader" type="tns:QualityHeader" />
      <s:complexType name="QualityHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QualityLevel" nillable="true" type="tns:QualityLevel" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:simpleType name="QualityLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Cpr" />
          <s:enumeration value="DataProvider" />
          <s:enumeration value="LocalCache" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RefreshRead_x0020_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:LaesInputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshRead_x0020_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefreshRead_x0020_Result" type="tns:LaesOutputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ListInputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListInputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningFraFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="VirkningTilFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringFraFilter" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreringTilFilter" type="tns:TidspunktType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListOutputType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListOutputType1">
        <s:complexContent mixed="false">
          <s:extension base="tns:ListOutputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LaesResultat" type="tns:ArrayOfLaesResultatType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLaesResultatType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LaesResultatType" nillable="true" type="tns:LaesResultatType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ListOutputType1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:SoegInputType1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoegInputType1">
        <s:complexContent mixed="false">
          <s:extension base="tns:SoegInputType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Soeg" type="tns:SoegObjektType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SoegInputType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FoersteResultat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaksimalAntalResultater" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegObjektType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SoegSagDokObjektType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Attributter" type="tns:SoegAttributListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="Relationer" type="tns:SoegRelationListeType" />
              <s:element minOccurs="0" maxOccurs="1" name="Tilstande" type="tns:SoegTilstandListeType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SoegSagDokObjektType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrugervendtNoegleTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Registrering" type="tns:SoegRegistreringType" />
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:SoegVirkningType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegRegistreringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TidspunktDatoTid" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="LivscyklusKode" type="tns:LivscyklusKodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegVirkningType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FraTidspunkt" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="TilTidspunkt" type="tns:TidspunktType" />
          <s:element minOccurs="0" maxOccurs="1" name="AktoerTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegAttributListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SoegEgenskab" type="tns:ArrayOfSoegEgenskabType" />
          <s:element minOccurs="0" maxOccurs="1" name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSoegEgenskabType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegEgenskabType" nillable="true" type="tns:SoegEgenskabType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegEgenskabType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NavnTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:VirkningType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegRelationListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Moder" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Fader" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Boern" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Aegtefaelle" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistreretPartner" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Bopaelssamling" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ForaeldremyndgihdedsIndehaver" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ForaeldremyndgihdedsBoern" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RetligHandleevneVaergeForPersonen" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="RetligHandleevneVaergemaalsIndehaver" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErstatningFor" type="tns:ArrayOfSoegRelationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErstattesAf" type="tns:ArrayOfSoegRelationType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSoegRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoegRelationType" nillable="true" type="tns:SoegRelationType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegRelationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Virkning" type="tns:SoegVirkningType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceIDTekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegTilstandListeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LokalUdvidelse" type="tns:LokalUdvidelseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoegOutputType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdListe" type="s3:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardRetur" type="tns:StandardReturType" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:SoegOutputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonUuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cprNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonUuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPersonUuidResult" type="s4:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:complexType name="PersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s2:PersonGivenName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s2:PersonMiddleName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s2:PersonSurnameName" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
      <s:element name="PersonGivenName" type="s:string" />
      <s:element name="PersonMiddleName" type="s:string" />
      <s:element name="PersonSurnameName" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:oio:dkal:1.0.0">
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UUID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ReadQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead_x0020_SoapIn">
    <wsdl:part name="parameters" element="tns:RefreshRead_x0020_" />
  </wsdl:message>
  <wsdl:message name="RefreshRead_x0020_SoapOut">
    <wsdl:part name="parameters" element="tns:RefreshRead_x0020_Response" />
  </wsdl:message>
  <wsdl:message name="RefreshRead ApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead QualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ListQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="SearchQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonUuid" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonUuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:portType name="PartSoap">
    <wsdl:operation name="Read">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks in the local database first
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks first in the fresh data at data providers
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input name="RefreshRead_x0020_" message="tns:RefreshRead_x0020_SoapIn" />
      <wsdl:output name="RefreshRead_x0020_" message="tns:RefreshRead_x0020_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the ID List supplied
Input: ID List
Output : Object List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the search criteria
Input : Search Criteria
Output : ID List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the person's UUID from his CPR number. Calls the UUID assigning authority if not found locally.
Input : CPR Number
Output : Person UUID
</wsdl:documentation>
      <wsdl:input message="tns:GetPersonUuidSoapIn" />
      <wsdl:output message="tns:GetPersonUuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartSoap" type="tns:PartSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReadApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <soap:operation soapAction="http://tempuri.org/RefreshRead " style="document" />
      <wsdl:input name="RefreshRead_x0020_">
        <soap:body use="literal" />
        <soap:header message="tns:RefreshRead ApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshRead_x0020_">
        <soap:body use="literal" />
        <soap:header message="tns:RefreshRead QualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ListQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SearchQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <soap:operation soapAction="http://tempuri.org/GetPersonUuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPersonUuidApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PartSoap12" type="tns:PartSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <soap12:operation soapAction="http://tempuri.org/RefreshRead " style="document" />
      <wsdl:input name="RefreshRead_x0020_">
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshRead ApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshRead_x0020_">
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshRead QualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <soap12:operation soapAction="http://tempuri.org/GetPersonUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPersonUuidApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Part">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
    <wsdl:port name="PartSoap" binding="tns:PartSoap">
      <soap:address location="http://localhost:1551/Services/Part.asmx" />
    </wsdl:port>
    <wsdl:port name="PartSoap12" binding="tns:PartSoap12">
      <soap12:address location="http://localhost:1551/Services/Part.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>