PART/Source/CPRBroker/NUnitTester/Web References/Part/Part.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s7="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" xmlns:s2="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s5="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:s8="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" xmlns:s10="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:s6="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" xmlns:s9="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s11="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s4="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/" />
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" />
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personUUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:PersonRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonRegistration">
        <s:complexContent mixed="false">
          <s:extension base="tns:Registration">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:PersonAttributes" />
              <s:element minOccurs="0" maxOccurs="1" name="States" type="tns:PersonStates" />
              <s:element minOccurs="0" maxOccurs="1" name="Relations" type="tns:PersonRelations" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Registration" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RegistrationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ActorId" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonAttributes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:EffectOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:Gender" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonData" type="tns:PersonData" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactChannel" type="tns:ArrayOfContactChannel" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherAddresses" type="tns:ArrayOfAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EffectOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Gender">
        <s:restriction base="s:string">
          <s:enumeration value="Male" />
          <s:enumeration value="Female" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PersonData" abstract="true" />
      <s:complexType name="UnknownCitizenData">
        <s:complexContent mixed="false">
          <s:extension base="tns:PersonData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReplacementCprNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ForeignCitizenData">
        <s:complexContent mixed="false">
          <s:extension base="tns:PersonData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ForeignNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PermissionNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NationalityCountryCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CprData">
        <s:complexContent mixed="false">
          <s:extension base="tns:PersonData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="tns:EffectOfPersonNameStructureType" />
              <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressingName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NameAndAddressProtection" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="BirthDateUncertainty" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:Gender" />
              <s:element minOccurs="0" maxOccurs="1" name="CprNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IndividualTrackStatus" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="NationalityCountryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PopulationAddress" type="tns:Address" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EffectOfPersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s2:PersonNameStructureType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressUnknown" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressGreenland">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GreenlandicAddress" type="s4:AddressCompleteGreenlandType" />
              <s:element minOccurs="0" maxOccurs="1" name="SpecialStreetCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressDenmark">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AddressComplete" type="s7:AddressCompleteType" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressPoint" type="tns:AddressPointType" />
              <s:element minOccurs="0" maxOccurs="1" name="SpecialStreetCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressPointType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GeographicPointLocation" type="tns:GeographicPointLocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointStatusStructure" type="tns:AddressPointStatusStructureType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeographicPointLocationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GeographicCoordinateTuple" type="tns:GeographicCoordinateTupleType" />
          <s:element minOccurs="0" maxOccurs="1" name="crsIdentifier" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeographicCoordinateTupleType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeographicEastingMeasure" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GeographicNorthingMeasure" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="GeographicHeightMeasure" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GeographicHeightMeasureSpecified" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressPointStatusStructureType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AddressPointRevisionDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointValidStartDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressPointValidStartDateTimeSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPointValidEndDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressPointValidEndDateTimeSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCoordinateQualityClassCode" type="tns:AddressCoordinateQualityClassCodeType" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressCoordinateQualityClassCodeSpecified" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AddressCoordinateQualityClassCodeType">
        <s:restriction base="s:string">
          <s:enumeration value="A" />
          <s:enumeration value="B" />
          <s:enumeration value="U" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AddressWorld">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ForeignAddress" type="s4:ForeignAddressStructureType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfContactChannel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactChannel" nillable="true" type="tns:ContactChannel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactChannel" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LimitedUse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonStates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LifeStatus" type="tns:EffectOfLifeStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="CivilStatus" type="tns:EffectOfMaritalStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EffectOfLifeStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="tns:LifeStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LifeStatus">
        <s:restriction base="s:string">
          <s:enumeration value="prenatal" />
          <s:enumeration value="born" />
          <s:enumeration value="disappeared" />
          <s:enumeration value="dead" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="EffectOfMaritalStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="tns:MaritalStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MaritalStatus">
        <s:restriction base="s:string">
          <s:enumeration value="single" />
          <s:enumeration value="married" />
          <s:enumeration value="divorced" />
          <s:enumeration value="widow" />
          <s:enumeration value="registeredpartner" />
          <s:enumeration value="repealedpartnership" />
          <s:enumeration value="surviving" />
          <s:enumeration value="deceased" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PersonRelations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Parents" type="tns:ArrayOfPersonRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfEffectOfPersonRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="Spouses" type="tns:ArrayOfEffectOfPersonRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="SubstituteFor" type="tns:ArrayOfEffectOfPersonRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacedBy" type="tns:EffectOfPersonRelation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersonRelation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonRelation" nillable="true" type="tns:PersonRelation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonRelation">
        <s:complexContent mixed="false">
          <s:extension base="tns:Relationship" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Relationship">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TargetUUID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEffectOfPersonRelation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EffectOfPersonRelation" nillable="true" type="tns:EffectOfPersonRelation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EffectOfPersonRelation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PersonRelation" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApplicationHeader" type="tns:ApplicationHeader" />
      <s:complexType name="ApplicationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="EffectDateHeader" type="tns:EffectDateHeader" />
      <s:complexType name="EffectDateHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EffectDate" nillable="true" type="s:dateTime" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RegistrationDateHeader" type="tns:RegistrationDateHeader" />
      <s:complexType name="RegistrationDateHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RegistrationDate" nillable="true" type="s:dateTime" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="QualityHeader" type="tns:QualityHeader" />
      <s:complexType name="QualityHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QualityLevel" nillable="true" type="tns:QualityLevel" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:simpleType name="QualityLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Cpr" />
          <s:enumeration value="DataProvider" />
          <s:enumeration value="LocalCache" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RefreshRead_x0020_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personUUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshRead_x0020_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefreshRead_x0020_Result" type="tns:PersonRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personUUIDs" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ArrayOfPersonRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonRegistration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonRegistration" nillable="true" type="tns:PersonRegistration" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:PersonSearchCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonSearchCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s2:PersonNameStructureType" />
          <s:element minOccurs="1" maxOccurs="1" name="Gender" nillable="true" type="tns:Gender" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CprNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalityCountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonUuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cprNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonUuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPersonUuidResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/">
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:complexType name="PersonNameStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonGivenName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonMiddleName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:PersonSurnameName" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
      <s:element name="PersonGivenName" type="s:string" />
      <s:element name="PersonMiddleName" type="s:string" />
      <s:element name="PersonSurnameName" type="s:string" />
      <s:element name="MailDeliverySublocationIdentifier" type="s:string" />
      <s:element name="StreetBuildingIdentifier" type="s:string" />
      <s:element name="SuiteIdentifier" type="s:string" />
      <s:element name="FloorIdentifier" type="s:string" />
      <s:element name="CountryIdentificationCode" type="s3:CountryIdentificationCodeType" />
      <s:complexType name="CountryIdentificationCodeType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="scheme" type="s3:_CountryIdentificationSchemeType" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="_CountryIdentificationSchemeType">
        <s:restriction base="s:string">
          <s:enumeration value="iso3166-alpha2" />
          <s:enumeration value="iso3166-alpha3" />
          <s:enumeration value="un-numeric3" />
          <s:enumeration value="imk" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/2008/05/01/">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" />
      <s:import namespace="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/" />
      <s:complexType name="AddressCompleteGreenlandType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s5:MunicipalityCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:StreetCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:MailDeliverySublocationIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:StreetName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:StreetNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:StreetBuildingIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" name="GreenlandBuildingIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:SuiteIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:FloorIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictSubdivisionIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:PostCodeIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:CountryIdentificationCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ForeignAddressStructureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostalAddressFirstLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostalAddressSecondLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostalAddressThirdLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostalAddressFourthLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s10:PostalAddressFifthLineText" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:CountryIdentificationCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s11:LocationDescriptionText" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/">
      <s:element name="MunicipalityCode" type="s:string" />
      <s:element name="StreetCode" type="s:string" />
      <s:element name="StreetNameForAddressingName" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/">
      <s:element name="StreetName" type="s:string" />
      <s:element name="DistrictSubdivisionIdentifier" type="s:string" />
      <s:element name="PostCodeIdentifier" type="s:string" />
      <s:element name="DistrictName" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/">
      <s:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" />
      <s:complexType name="AddressCompleteType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s8:AddressAccess" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPostal" type="s7:AddressPostalType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressPostalType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s3:MailDeliverySublocationIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:StreetName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:StreetNameForAddressingName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:StreetBuildingIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:FloorIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:SuiteIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictSubdivisionIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s9:PostOfficeBoxIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:PostCodeIdentifier" />
          <s:element minOccurs="0" maxOccurs="1" ref="s6:DistrictName" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:CountryIdentificationCode" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/">
      <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:element name="AddressAccess" type="s8:AddressAccessType" />
      <s:complexType name="AddressAccessType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" ref="s5:MunicipalityCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s5:StreetCode" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:StreetBuildingIdentifier" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/">
      <s:element name="PostOfficeBoxIdentifier" type="s:integer" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/">
      <s:element name="PostalAddressFirstLineText" type="s:string" />
      <s:element name="PostalAddressSecondLineText" type="s:string" />
      <s:element name="PostalAddressThirdLineText" type="s:string" />
      <s:element name="PostalAddressFourthLineText" type="s:string" />
      <s:element name="PostalAddressFifthLineText" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/capevo.dk/xml/schemas/2007/08/01/">
      <s:element name="LocationDescriptionText" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ReadEffectDateHeader">
    <wsdl:part name="EffectDateHeader" element="tns:EffectDateHeader" />
  </wsdl:message>
  <wsdl:message name="ReadQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="ReadRegistrationDateHeader">
    <wsdl:part name="RegistrationDateHeader" element="tns:RegistrationDateHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead_x0020_SoapIn">
    <wsdl:part name="parameters" element="tns:RefreshRead_x0020_" />
  </wsdl:message>
  <wsdl:message name="RefreshRead_x0020_SoapOut">
    <wsdl:part name="parameters" element="tns:RefreshRead_x0020_Response" />
  </wsdl:message>
  <wsdl:message name="RefreshRead ApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead EffectDateHeader">
    <wsdl:part name="EffectDateHeader" element="tns:EffectDateHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead QualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="RefreshRead RegistrationDateHeader">
    <wsdl:part name="RegistrationDateHeader" element="tns:RegistrationDateHeader" />
  </wsdl:message>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="ListEffectDateHeader">
    <wsdl:part name="EffectDateHeader" element="tns:EffectDateHeader" />
  </wsdl:message>
  <wsdl:message name="ListQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="ListRegistrationDateHeader">
    <wsdl:part name="RegistrationDateHeader" element="tns:RegistrationDateHeader" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="SearchEffectDateHeader">
    <wsdl:part name="EffectDateHeader" element="tns:EffectDateHeader" />
  </wsdl:message>
  <wsdl:message name="SearchQualityHeader">
    <wsdl:part name="QualityHeader" element="tns:QualityHeader" />
  </wsdl:message>
  <wsdl:message name="SearchRegistrationDateHeader">
    <wsdl:part name="RegistrationDateHeader" element="tns:RegistrationDateHeader" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonUuid" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonUuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonUuidApplicationHeader">
    <wsdl:part name="ApplicationHeader" element="tns:ApplicationHeader" />
  </wsdl:message>
  <wsdl:portType name="PartSoap">
    <wsdl:operation name="Read">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks in the local database first
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return object (Always latest registration). Looks first in the fresh data at data providers
Input : ObjectID
Output : Object
Parameters : EffectDate
</wsdl:documentation>
      <wsdl:input name="RefreshRead_x0020_" message="tns:RefreshRead_x0020_SoapIn" />
      <wsdl:output name="RefreshRead_x0020_" message="tns:RefreshRead_x0020_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the ID List supplied
Input: ID List
Output : Object List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find and return several objects that match the search criteria
Input : Search Criteria
Output : ID List
Parameters : RegistrationDate, EffectDate
</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the person's UUID from his CPR number. Calls the UUID assigning authority if not found locally.
Input : CPR Number
Output : Person UUID
</wsdl:documentation>
      <wsdl:input message="tns:GetPersonUuidSoapIn" />
      <wsdl:output message="tns:GetPersonUuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartSoap" type="tns:PartSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReadApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap:header message="tns:ReadEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap:header message="tns:ReadRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <soap:operation soapAction="http://tempuri.org/RefreshRead " style="document" />
      <wsdl:input name="RefreshRead_x0020_">
        <soap:body use="literal" />
        <soap:header message="tns:RefreshRead ApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap:header message="tns:RefreshRead EffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap:header message="tns:RefreshRead RegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshRead_x0020_">
        <soap:body use="literal" />
        <soap:header message="tns:RefreshRead QualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap:header message="tns:ListEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap:header message="tns:ListRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ListQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap:header message="tns:SearchEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap:header message="tns:SearchRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SearchQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <soap:operation soapAction="http://tempuri.org/GetPersonUuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPersonUuidApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PartSoap12" type="tns:PartSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap12:header message="tns:ReadEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap12:header message="tns:ReadRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReadQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshRead">
      <soap12:operation soapAction="http://tempuri.org/RefreshRead " style="document" />
      <wsdl:input name="RefreshRead_x0020_">
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshRead ApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap12:header message="tns:RefreshRead EffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap12:header message="tns:RefreshRead RegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshRead_x0020_">
        <soap12:body use="literal" />
        <soap12:header message="tns:RefreshRead QualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap12:header message="tns:ListEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap12:header message="tns:ListRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchApplicationHeader" part="ApplicationHeader" use="literal" />
        <soap12:header message="tns:SearchEffectDateHeader" part="EffectDateHeader" use="literal" />
        <soap12:header message="tns:SearchRegistrationDateHeader" part="RegistrationDateHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchQualityHeader" part="QualityHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonUuid">
      <soap12:operation soapAction="http://tempuri.org/GetPersonUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPersonUuidApplicationHeader" part="ApplicationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Part">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows accesss to CPR data through a standard PART interface</wsdl:documentation>
    <wsdl:port name="PartSoap" binding="tns:PartSoap">
      <soap:address location="http://localhost:1551/Services/Part.asmx" />
    </wsdl:port>
    <wsdl:port name="PartSoap12" binding="tns:PartSoap12">
      <soap12:address location="http://localhost:1551/Services/Part.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>