PART/Source/EventBroker/EventBroker/Service References/EventsService/Events243.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1551/services/Events.svc?xsd=xsd14" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
  <xs:import schemaLocation="http://localhost:1551/services/Events.svc?xsd=xsd7" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
  <xs:element name="EmailAddressIdentifier" type="xs:string" />
  <xs:element name="AddressAccess" type="tns:AddressAccessType" />
  <xs:complexType name="AddressAccessType">
    <xs:sequence>
      <xs:element xmlns:q1="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" minOccurs="0" maxOccurs="1" ref="q1:MunicipalityCode" />
      <xs:element xmlns:q2="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" minOccurs="0" maxOccurs="1" ref="q2:StreetCode" />
      <xs:element xmlns:q3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="1" ref="q3:StreetBuildingIdentifier" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>